force-app/main/default/flows/Account_Checkbox_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>To Unchecked donot market anywhere</description>
        <name>Unchecked_donot_market_anywhere</name>
        <label>Unchecked-donot market anywhere</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Do_not_market_anywhere__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>To Check-clientType-AccountName</description>
        <name>Check_clientType_AccountName</name>
        <label>Check-clientType-AccountName</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_CLIENT_TYPE_IS_Equipement_Seller_AND_Account_Name_containsLLC_OR_Zadoon</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4) AND (NOT(5) )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Client_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equipment Seller</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manufacturer Dealer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Label.Zadoon_LLC</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unchecked_donot_market_anywhere</targetReference>
            </connector>
            <label>IF CLIENT TYPE IS Equipement Seller AND Account Name containsLLC OR Zadoon</label>
        </rules>
    </decisions>
    <description>on the account level, I need logic that states that if the account client type is Equipment Seller, AND the account name is not Zadoon, LLC, then the &quot;do not market anywhere&quot; checkbox must be checked
Should run only on create new account</description>
    <environments>Default</environments>
    <interviewLabel>Account-Checkbox-Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account-Checkbox-Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_clientType_AccountName</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
