force-app/main/default/flows/Account_Acc_Note_To_Con_And_Dealer_Do_Not_Market.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>assign_Value_To_Con</description>
        <name>assign_Value_To_Con</name>
        <label>assign Value To Con</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>singleVarContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Contacts_By_Account_Notes.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVarContact.Notes_from_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionVarContact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleVarContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Contacts_By_Account_Notes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Account_Client_Type_Manufacturer_Dealer</description>
        <name>Account_Client_Type_Manufacturer_Dealer</name>
        <label>Account Client Type Manufacturer Dealer</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Manuf_Dealer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Client_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manufacturer Dealer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Account_Do_Not_Market_CheckBox</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Is Manuf Dealer</label>
        </rules>
    </decisions>
    <decisions>
        <description>check_If_Account_Notes_Exist</description>
        <name>check_If_Account_Notes_Exist</name>
        <label>check If Account Notes Exist</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Account_Client_Type_Manufacturer_Dealer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Notes_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Notes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Notes__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Contacts_Related_To_Account</targetReference>
            </connector>
            <label>Account Notes Exist</label>
        </rules>
    </decisions>
    <description>Account_Acc_Note_To_Con_And_Dealer_Do_Not_Market</description>
    <environments>Default</environments>
    <interviewLabel>Account - Acc Note To Con And Dealer Do Not Market {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Acc Note To Con And Dealer Do Not Market</label>
    <loops>
        <description>loop_Contacts_By_Account_Notes</description>
        <name>loop_Contacts_By_Account_Notes</name>
        <label>loop Contacts By Account Notes</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>get_Contacts_Related_To_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_Value_To_Con</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Contacts_Related_To_Acc</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>get_Contacts_Related_To_Account</description>
        <name>get_Contacts_Related_To_Account</name>
        <label>get Contacts Related To Account</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Contacts_By_Account_Notes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>update_Account_Do_Not_Market_CheckBox</description>
        <name>update_Account_Do_Not_Market_CheckBox</name>
        <label>update Account Do Not Market CheckBox</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>Do_Not_Market_Fleet_Up_Marketplace__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_Construction_Equip_Guide__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_Craigslist__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_FB_Marketplace__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_GearFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_Instagram__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_LinkedIn__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_MT_incl_Crane_Truck__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_Machinio__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_Mascus__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_MyLittleSalesman__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_Terrapoint__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_TradeMachines__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_Used_Equip_Guide__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_Zonapesada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_anywhere__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>update_Contacts_Related_To_Acc</description>
        <name>update_Contacts_Related_To_Acc</name>
        <label>update Contacts Related To Acc</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Account_Client_Type_Manufacturer_Dealer</targetReference>
        </connector>
        <inputReference>collectionVarContact</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_If_Account_Notes_Exist</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>collectionVarContact</description>
        <name>collectionVarContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>singleVarContact</description>
        <name>singleVarContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
