force-app/main/default/flows/Account_update_Contacts_Client_Type_by_Acc_Client_Type.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assign_Acc_Client_Type_Value_to_Contact_Client_Type</name>
        <label>assign Acc Client Type Value to Contact Client Type</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>singleVarContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_Contacts_related_to_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVarContact.Account_Client_Type1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_over_Contacts_related_to_Account.Account.Client_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionVarContact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleVarContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_over_Contacts_related_to_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Account_has_related_Contacts</description>
        <name>Account_has_related_Contacts</name>
        <label>Account has related Contacts</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Related_Contacts_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Contacts_related_to_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_over_Contacts_related_to_Account</targetReference>
            </connector>
            <label>Related Contacts found</label>
        </rules>
    </decisions>
    <description>Account_update_Contacts_Client_Type_by_Acc_Client_Type</description>
    <environments>Default</environments>
    <interviewLabel>Account - update Contacts Client Type by Acc Client Type {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - update Contacts Client Type by Acc Client Type</label>
    <loops>
        <description>loop_over_Contacts_related_to_Account</description>
        <name>loop_over_Contacts_related_to_Account</name>
        <label>loop over Contacts related to Account</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>get_Contacts_related_to_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_Acc_Client_Type_Value_to_Contact_Client_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Contacts_related_to_Account_using_Collection_Var</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>get_Contacts_related_to_Account</description>
        <name>get_Contacts_related_to_Account</name>
        <label>get Contacts related to Account</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_has_related_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>update_Contacts_related_to_Account_using_Collection_Var</description>
        <name>update_Contacts_related_to_Account_using_Collection_Var</name>
        <label>update Contacts related to Account using Collection Var</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <inputReference>collectionVarContact</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Contacts_related_to_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>collectionVarContact</description>
        <name>collectionVarContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>singleVarContact</description>
        <name>singleVarContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
