force-app/main/default/flows/Account_AccNoteToConAnfDealerDoNotMarket.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>assignValueToCon</description>
        <name>assignValueToCon</name>
        <label>assignValueToCon</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>singleVarContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopContactsByAccountNotes.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singleVarContact.Notes_from_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account_Notes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collectionVarContact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleVarContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopContactsByAccountNotes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>AccountClientTypeManufacturerDealer</description>
        <name>AccountClientTypeManufacturerDealer</name>
        <label>AccountClientTypeManufacturerDealer</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsManufDealer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Client_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manufacturer Dealer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateAccountDoNotMarketCheckBoxes</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>IsManufDealer</label>
        </rules>
    </decisions>
    <decisions>
        <description>checkIfAccountNotesExist</description>
        <name>checkIfAccountNotesExist</name>
        <label>checkIfAccountNotesExist</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>AccountClientTypeManufacturerDealer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Notes_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account_Notes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Notes__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContactsRelatedToAccount</targetReference>
            </connector>
            <label>Account Notes Exist</label>
        </rules>
    </decisions>
    <description>Account_AccNoteToConAnfDealerDoNotMarket</description>
    <environments>Default</environments>
    <interviewLabel>Account - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - AccNoteToConAnfDealerDoNotMarket</label>
    <loops>
        <description>loopContactsByAccountNotes</description>
        <name>loopContactsByAccountNotes</name>
        <label>loopContactsByAccountNotes</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>getContactsRelatedToAccount</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignValueToCon</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateContactsRelatedToAcc</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>getContactsRelatedToAccount</description>
        <name>getContactsRelatedToAccount</name>
        <label>getContactsRelatedToAccount</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopContactsByAccountNotes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>updateAccountDoNotMarketCheckBoxes</description>
        <name>updateAccountDoNotMarketCheckBoxes</name>
        <label>updateAccountDoNotMarketCheckBoxes</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>Do_Not_Market_Fleet_Up_Marketplace__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_Construction_Equip_Guide__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_Craigslist__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_FB_Marketplace__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_GearFlow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_Instagram__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_LinkedIn__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_MT_incl_Crane_Truck__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_Machinio__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_Mascus__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_MyLittleSalesman__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_Terrapoint__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_TradeMachines__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_Used_Equip_Guide__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_Zonapesada__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_not_market_anywhere__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>updateContactsRelatedToAcc</description>
        <name>updateContactsRelatedToAcc</name>
        <label>updateContactsRelatedToAcc</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>AccountClientTypeManufacturerDealer</targetReference>
        </connector>
        <inputReference>collectionVarContact</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkIfAccountNotesExist</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>collectionVarContact</description>
        <name>collectionVarContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>singleVarContact</description>
        <name>singleVarContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
