force-app/main/default/flows/Equipment_update_model_by_Equipment_Model.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <description>Equipment_update_model_by_Equipment_Model</description>
    <environments>Default</environments>
    <interviewLabel>Equipment - update model by Equipment Model {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Equipment - update model by Equipment Model</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>update_Model_with_Equipment_Model</description>
        <name>update_Model_with_Equipment_Model</name>
        <label>update Model with Equipment Model</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Model__c</field>
            <value>
                <elementReference>$Record.Model_Equipment__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>update_Unit_related_to_Equipment</description>
        <name>update_Unit_related_to_Equipment</name>
        <label>update Unit related to Equipment</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>update_Model_with_Equipment_Model</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>equipment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Model_Unit__c</field>
            <value>
                <elementReference>$Record.Model_Equipment__c</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>update_Unit_related_to_Equipment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Model_Equipment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Equipment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
