force-app/main/default/flows/Feed_Item_Update_Chatter_Feed_on_Next_Step.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Chatter_posting_user_Not_Shelly_Murphy_Decision</description>
        <name>Chatter_posting_user_Not_Shelly_Murphy_Decision</name>
        <label>Chatter posting user Not Shelly Murphy Decision</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Shelly_Murphy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>get_User_Shelly_Murphy_for_Opp.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Opportunity_Record_Related_To_Feed_Item</targetReference>
            </connector>
            <label>Not Shelly Murphy</label>
        </rules>
    </decisions>
    <decisions>
        <description>Chatter_record_on_Lead_or_Opp_or_Task</description>
        <name>Chatter_record_on_Lead_or_Opp_or_Task</name>
        <label>Chatter record on Lead or Opp or Task</label>
        <locationX>908</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Chatter_Rec_on_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_User_Shelly_Murphy_for_Lead</targetReference>
            </connector>
            <label>Chatter Rec on Lead</label>
        </rules>
        <rules>
            <name>Chatter_Rec_on_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_User_Shelly_Murphy_for_Opp</targetReference>
            </connector>
            <label>Chatter Rec on Opp</label>
        </rules>
        <rules>
            <name>Chatter_rec_on_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00T</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_User_Shelly_Murphy_for_Task</targetReference>
            </connector>
            <label>Chatter rec on Task</label>
        </rules>
    </decisions>
    <decisions>
        <description>Lead_Chatter_posting_user_Not_Shelly_Murphy_Decision</description>
        <name>Lead_Chatter_posting_user_Not_Shelly_Murphy_Decision</name>
        <label>Lead Chatter posting user Not Shelly Murphy Decision</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Shelly_Murphy_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>get_User_Shelly_Murphy_for_Lead.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Next_Step_of_Lead_by_Chatter_Post</targetReference>
            </connector>
            <label>Not Shelly Murphy Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>Task_Chatter_posting_user_Not_Shelly_Murphy_Decision</description>
        <name>Task_Chatter_posting_user_Not_Shelly_Murphy_Decision</name>
        <label>Task Chatter posting user Not Shelly Murphy Decision</label>
        <locationX>1238</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Shelly_Murphy_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>get_User_Shelly_Murphy_for_Task.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_Next_Step_field</targetReference>
            </connector>
            <label>Not Shelly Murphy Task</label>
        </rules>
    </decisions>
    <description>Feed_Item_Update_Chatter_Feed_on_Next_Step</description>
    <environments>Default</environments>
    <formulas>
        <description>LeadNextStepChatter</description>
        <name>LeadNextStepChatter</name>
        <dataType>String</dataType>
        <expression>MID((TEXT(TODAY())+ &apos; &apos; + {!$Record.CreatedBy:User.Alias} + &apos; &apos; +SUBSTITUTE(SUBSTITUTE(LEFT ({!$Record.Body}, 255),&apos;&lt;p&gt;&apos;,&apos;  &apos;),&apos;&lt;/p&gt;&apos;, &apos; &apos;)), 0, 255)</expression>
    </formulas>
    <formulas>
        <description>nextStepCreatedByUser</description>
        <name>nextStepCreatedByUser</name>
        <dataType>String</dataType>
        <expression>MID((TEXT(TODAY())+ &apos; &apos; + {!$Record.CreatedBy:User.Alias} + &apos; &apos; +SUBSTITUTE(SUBSTITUTE(LEFT ({!$Record.Body}, 255),&apos;&lt;p&gt;&apos;,&apos;  &apos;),&apos;&lt;/p&gt;&apos;, &apos; &apos;)), 0, 255)</expression>
    </formulas>
    <formulas>
        <description>TaskNextStepChatter</description>
        <name>TaskNextStepChatter</name>
        <dataType>String</dataType>
        <expression>MID((TEXT(TODAY())+ &apos; &apos; + {!$Record.CreatedBy:User.Alias} + &apos; &apos; +SUBSTITUTE(SUBSTITUTE(LEFT ({!$Record.Body}, 255),&apos;&lt;p&gt;&apos;,&apos;  &apos;),&apos;&lt;/p&gt;&apos;, &apos; &apos;)), 0, 255)</expression>
    </formulas>
    <interviewLabel>Feed Item - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Feed Item -Update Chatter Feed on Next Step</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>get_User_Shelly_Murphy_for_Lead</description>
        <name>get_User_Shelly_Murphy_for_Lead</name>
        <label>get User Shelly Murphy for Lead</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Chatter_posting_user_Not_Shelly_Murphy_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.VA</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get_User_Shelly_Murphy_for_Opp</description>
        <name>get_User_Shelly_Murphy_for_Opp</name>
        <label>get User Shelly Murphy for Opp</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Chatter_posting_user_Not_Shelly_Murphy_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.VA</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get_User_Shelly_Murphy_for_Task</description>
        <name>get_User_Shelly_Murphy_for_Task</name>
        <label>get User Shelly Murphy for Task</label>
        <locationX>1238</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Chatter_posting_user_Not_Shelly_Murphy_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.VA</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>update_Next_Step_of_Lead_by_Chatter_Post</description>
        <name>update_Next_Step_of_Lead_by_Chatter_Post</name>
        <label>update Next Step of Lead by Chatter Post</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Step__c</field>
            <value>
                <elementReference>LeadNextStepChatter</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>update_Opportunity_Record_Related_To_Feed_Item</description>
        <name>update_Opportunity_Record_Related_To_Feed_Item</name>
        <label>update Opportunity Record Related To Feed Item</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NextStep</field>
            <value>
                <elementReference>nextStepCreatedByUser</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update_Task_Next_Step_field</description>
        <name>Update_Task_Next_Step_field</name>
        <label>Update Task Next Step field</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Steps__c</field>
            <value>
                <elementReference>TaskNextStepChatter</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Chatter_record_on_Lead_or_Opp_or_Task</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>006</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>00Q</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>00T</stringValue>
            </value>
        </filters>
        <object>FeedItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>LeadNextStep</description>
        <name>LeadNextStep</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;test&lt;/p&gt;</text>
    </textTemplates>
</Flow>
