force-app/main/default/flows/Flow_to_create_task_on_opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>CHECK_FOR_THE_GET_USER</name>
        <label>CHECK FOR THE GET USER</label>
        <locationX>930</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CHECK_FOR_THE_GET_USER_SHELLY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Mailchimp_Email_picklist_value</targetReference>
            </connector>
            <label>CHECK FOR THE GET USER  SHELLY</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Mailchimp_Email_picklist_value</name>
        <label>Check Mailchimp Email? picklist value</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Check_Market_on_MT_checkbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mailchimp_Email_picklist_value_equals_Unadvertised_And_Send_now</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mailchimp_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unadvertised</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_urgency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email Now</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mailchimp_Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_urgency__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_new_task_when_picklist_value_unadvertised_and_send_email_now</targetReference>
            </connector>
            <label>Mailchimp Email? picklist value equals Unadvertised And Send now</label>
        </rules>
        <rules>
            <name>Mailchimp_Email_picklist_value_equals_Advertised_and_send_email_now</name>
            <conditionLogic>1 AND 2 AND ( 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mailchimp_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advertised</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_urgency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email Now</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mailchimp_Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_urgency__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_task_when_picklist_value_equals_Advertised</targetReference>
            </connector>
            <label>Mailchimp Email? picklist value equals Advertised and send email now</label>
        </rules>
        <rules>
            <name>Mailchimp_Email_picklist_value_equals_Unadvertised_And_send_email_weekly</name>
            <conditionLogic>1 AND 2 AND ( 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_urgency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email weekly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mailchimp_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unadvertised</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mailchimp_Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_urgency__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_new_task_when_picklist_value_unadvertised_and_send_email_Weekly</targetReference>
            </connector>
            <label>Mailchimp Email? picklist value equals Unadvertised And send email weekly</label>
        </rules>
        <rules>
            <name>Mailchimp_Email_picklist_value_equals_Advertised_And_send_email_weekly</name>
            <conditionLogic>1 AND 2 AND ( 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Email_urgency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email weekly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mailchimp_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advertised</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mailchimp_Email__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_urgency__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_task_when_picklist_value_equals_Advertised_And_send_email_weekly</targetReference>
            </connector>
            <label>Mailchimp Email? picklist value equals Advertised And send email weekly</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Market_on_CL_checkbox</name>
        <label>Check Market on CL? checkbox</label>
        <locationX>578</locationX>
        <locationY>1583</locationY>
        <defaultConnector>
            <targetReference>Check_Market_on_other_iron_sites</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Market_on_CL_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Market_on_CL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_task_when_Market_on_CL</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Market on CL? checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Market_on_FB_checkbox</name>
        <label>Check Market on FB? checkbox</label>
        <locationX>578</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Check_Market_on_CL_checkbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Market_on_FB_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Market_on_FB__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_new_task_when_Market_on_FB_checked</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Market on FB? checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Market_on_MT_checkbox</name>
        <label>Check Market on MT? checkbox</label>
        <locationX>578</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Check_Market_on_FB_checkbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Market_on_MT_checkbox_is_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Market_on_MT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_task_when_Market_on_MT</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Market on MT? checkbox is checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Market_on_other_iron_sites</name>
        <label>Check Market on other iron sites?</label>
        <locationX>578</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>if_Iron_Connect_Checkbox_is_checked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Market_on_other_iron_sites_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Market_on_other_iron_sites__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_task_when_Market_on_other_iron_sites_checked</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Market on other iron sites? checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_Iron_Connect_Checkbox_is_checked</name>
        <label>if Iron Connect Checkbox is checked</label>
        <locationX>578</locationX>
        <locationY>2255</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_Iron_Connect_Checkbox_is_checked1</name>
            <conditionLogic>1 AND 3 AND (  2 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketed_On_Iron_Connect__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketed_On_Iron_Connect__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proactive Brokerage</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Task_For_Shelly_to_list_the_iron_Connect</targetReference>
            </connector>
            <label>if Iron Connect Checkbox is checked</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DueDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.LastModifiedDate}</expression>
    </formulas>
    <formulas>
        <name>Duedateplus1day</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.LastModifiedDate} + 1</expression>
    </formulas>
    <interviewLabel>Flow to create task on oppoetunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow to create task on opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_new_task_when_Market_on_FB_checked</name>
        <label>create new task when Market on FB? checked</label>
        <locationX>446</locationX>
        <locationY>1367</locationY>
        <connector>
            <targetReference>Check_Market_on_CL_checkbox</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>User_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue> Send  MC email to Market on FB?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_new_task_when_Market_on_MT</name>
        <label>Create new task when Market on MT?</label>
        <locationX>446</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Check_Market_on_FB_checkbox</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>User_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue> send  MC email to Market on MT?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_new_task_when_picklist_value_equals_Advertised</name>
        <label>Create new task when picklist value equals Advertised</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Check_Market_on_MT_checkbox</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>User_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue> Send advertised MC email now</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_new_task_when_picklist_value_equals_Advertised_And_send_email_weekly</name>
        <label>Create new task when picklist value equals Advertised And send email weekly</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Check_Market_on_MT_checkbox</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>User_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue> Send advertised MC email weekly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_new_task_when_picklist_value_unadvertised_and_send_email_now</name>
        <label>create new task when picklist value unadvertised and send email now</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Check_Market_on_MT_checkbox</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>User_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>send unadvertised MC email now</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_new_task_when_picklist_value_unadvertised_and_send_email_Weekly</name>
        <label>create new task when picklist value unadvertised and send email Weekly</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Check_Market_on_MT_checkbox</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>User_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>send unadvertised MC email weekly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_task_when_Market_on_CL</name>
        <label>Create task when Market on CL?</label>
        <locationX>446</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Check_Market_on_other_iron_sites</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>User_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue> Send  MC email to Market on CL?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_task_when_Market_on_other_iron_sites_checked</name>
        <label>Create task when Market on other iron sites? checked</label>
        <locationX>446</locationX>
        <locationY>2039</locationY>
        <connector>
            <targetReference>if_Iron_Connect_Checkbox_is_checked</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Duedateplus1day</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>User_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>send MC email to Market on other iron sites?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_Task_For_Shelly_to_list_the_iron_Connect</name>
        <label>New Task For Shelly to list the iron Connect</label>
        <locationX>446</locationX>
        <locationY>2375</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>User_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>List this unit on iron connect</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>User_Name</name>
        <label>User Name</label>
        <locationX>930</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CHECK_FOR_THE_GET_USER</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>shelly@zadoon.com.dev</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>804</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Name</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>( 1 OR 2 OR 3 OR 4 OR 5 OR 8 OR 6 OR 7)</filterLogic>
        <filters>
            <field>Market_on_FB__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Market_on_CL__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Market_on_MT__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Market_on_other_iron_sites__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Marketed_On_Iron_Connect__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Mailchimp_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unadvertised</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email_urgency__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email Now</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proactive Brokerage</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
