force-app/main/default/flows/Opportunity_Mark_Unit_Products_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Decision_if_Opp_Forecast_category_is_not_omitted_or_closed</description>
        <name>Decision_if_Opp_Forecast_category_is_not_omitted_or_closed</name>
        <label>Decision if Opp Forecast category is not omitted or closed</label>
        <locationX>380</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>Decision_if_Opp_Forecast_category_is_pipeline_best_case_or_commit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>forecast_cate_is_not_omitted_or_closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ForecastCategory</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Omitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ForecastCategory</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Product_unit_related_to_Opportunity_forecast_category</targetReference>
            </connector>
            <label>forecast cate is not omitted or closed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision_if_Opp_Forecast_category_is_pipeline_best_case_or_commit</description>
        <name>Decision_if_Opp_Forecast_category_is_pipeline_best_case_or_commit</name>
        <label>Decision if Opp Forecast category is pipeline best case or commit</label>
        <locationX>380</locationX>
        <locationY>1679</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>forecast_cate_is_pipeline_best_case_or_commid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ForecastCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ForecastCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BestCase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ForecastCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Product_unit_related_to_Opportunity_forecast_cate_pipeline</targetReference>
            </connector>
            <label>forecast cate is pipeline best case or commid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision_if_Opp_has_Prod</description>
        <name>Decision_if_Opp_has_Prod</name>
        <label>Decision if Opp has Prod</label>
        <locationX>380</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Decision_if_Opp_Forecast_category_is_not_omitted_or_closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_has_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Product_unit_related_to_Opp</targetReference>
            </connector>
            <label>Opportunity has Product</label>
        </rules>
    </decisions>
    <decisions>
        <description>decision_if_the_unit_has_any_other_open_opprtunitites</description>
        <name>decision_if_the_unit_has_any_other_open_opprtunitites</name>
        <label>decision if the unit has any other open opprtunitites</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>update_unit_related_to_the_closed_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_open_opportunities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Opportunity_related_to_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_unit_to_check_the_active_Opp_in_unit_checkbox</targetReference>
            </connector>
            <label>Has open opportunities</label>
        </rules>
    </decisions>
    <decisions>
        <description>Opportunity_has_related_Product_Decision</description>
        <name>Opportunity_has_related_Product_Decision</name>
        <label>Opportunity has related Product Decision</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Decision_if_Opp_has_Prod</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Opportunity_has_Product</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND (5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ForecastCategory</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ForecastCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Omitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ForecastCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Opportunity_Rec_Type_Inventory_Sell</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Opp_Rec_Type_Broker_Sell</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Opp_Rec_type_Dev_Name_Rental</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Opportunity_related_to_Product</targetReference>
            </connector>
            <label>Closed Opportunity has Product</label>
        </rules>
    </decisions>
    <description>Opportunity_Mark_Unit_Products_2</description>
    <environments>Default</environments>
    <formulas>
        <description>After14Days</description>
        <name>After14Days</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 14</expression>
    </formulas>
    <formulas>
        <description>After1Day</description>
        <name>After1Day</name>
        <dataType>Date</dataType>
        <expression>TODAY()+1</expression>
    </formulas>
    <formulas>
        <description>After2Days</description>
        <name>After2Days</name>
        <dataType>Date</dataType>
        <expression>TODAY()+2</expression>
    </formulas>
    <formulas>
        <description>After30Days</description>
        <name>After30Days</name>
        <dataType>Date</dataType>
        <expression>TODAY()+30</expression>
    </formulas>
    <formulas>
        <description>After3Days</description>
        <name>After3Days</name>
        <dataType>Date</dataType>
        <expression>TODAY()+3</expression>
    </formulas>
    <formulas>
        <description>After7Days</description>
        <name>After7Days</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <formulas>
        <description>emailsearchtasksubject</description>
        <name>emailsearchtasksubject</name>
        <dataType>String</dataType>
        <expression>&apos;Look for WTB: &apos; + {!$Record.WTB_Parameters__c}</expression>
    </formulas>
    <formulas>
        <description>FB_LI_Day_1_Next_Month_Due_Date</description>
        <name>FB_LI_Day_1_Next_Month_Due_Date</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),MONTH(TODAY())+1, 1)</expression>
    </formulas>
    <formulas>
        <description>OpportunityName</description>
        <name>OpportunityName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Year_from_Unit__c} + &apos; &apos; + {!$Record.Model_from_Unit__c} + &apos; &apos; + {!$Record.Account.Name} + &apos; &apos; + {!$Record.Product__c}</expression>
    </formulas>
    <formulas>
        <description>today</description>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <description>WaitingForBuyerWireTaskSubject</description>
        <name>WaitingForBuyerWireTaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Wire should be coming in for $&quot; + TEXT({!$Record.Pro_Forma_Price_Sent__c}) + &quot;. Once received, move opp to delivering (if we are doing freight) or closed won stage&quot;</expression>
    </formulas>
    <interviewLabel>Opportunity - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Mark Unit Products 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>get_Opportunity_related_to_Product</description>
        <name>get_Opportunity_related_to_Product</name>
        <label>get Opportunity related to Product</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_if_the_unit_has_any_other_open_opprtunitites</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ForecastCategory</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pipeline</stringValue>
            </value>
        </filters>
        <filters>
            <field>ForecastCategory</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BestCase</stringValue>
            </value>
        </filters>
        <filters>
            <field>ForecastCategory</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Forecast</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>update_Product_unit_related_to_Opp</description>
        <name>update_Product_unit_related_to_Opp</name>
        <label>update Product(unit) related to Opp</label>
        <locationX>248</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>Decision_if_Opp_Forecast_category_is_not_omitted_or_closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Unit_Involved_in_an_Active_Opportunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <description>update_Product_unit_related_to_Opportunity_forecast_cate_pipeline</description>
        <name>update_Product_unit_related_to_Opportunity_forecast_cate_pipeline</name>
        <label>update Product(unit) related to Opportunity forecast cate pipeline</label>
        <locationX>248</locationX>
        <locationY>1799</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Unit_Involved_in_an_Active_Opportunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <description>update_Product_unit_related_to_Opportunity_forecast_category</description>
        <name>update_Product_unit_related_to_Opportunity_forecast_category</name>
        <label>update Product(unit) related to Opportunity forecast category</label>
        <locationX>248</locationX>
        <locationY>1463</locationY>
        <connector>
            <targetReference>Decision_if_Opp_Forecast_category_is_pipeline_best_case_or_commit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Unit_Involved_in_an_Active_Opportunity__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <description>update_unit_related_to_the_closed_Opp</description>
        <name>update_unit_related_to_the_closed_Opp</name>
        <label>update unit related to the closed Opp</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Decision_if_Opp_has_Prod</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Unit_Involved_in_an_Active_Opportunity__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <description>update_unit_to_check_the_active_Opp_in_unit_checkbox</description>
        <name>update_unit_to_check_the_active_Opp_in_unit_checkbox</name>
        <label>update unit to check the active Opp in unit checkbox</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Decision_if_Opp_has_Prod</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Unit_Involved_in_an_Active_Opportunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_has_related_Product_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
