force-app/main/default/flows/Opportunity_WTB_Process_of_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Decision_if_VA_User_exists</description>
        <name>Decision_if_VA_User_exists</name>
        <label>Decision if VA User exists</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>task_for_email_search_of_CM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VA_User_present_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_User_VA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>task_for_sending_WTB_Mail</targetReference>
            </connector>
            <label>VA User present 1</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision_if_WTB_is_Completed</description>
        <name>Decision_if_WTB_is_Completed</name>
        <label>Decision if WTB is Completed</label>
        <locationX>336</locationX>
        <locationY>3935</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WTB_is_complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WTB_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WTB_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WTB Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>clear_WTB_Date_on_Opp</targetReference>
            </connector>
            <label>WTB is complete</label>
        </rules>
    </decisions>
    <decisions>
        <description>decision_if_WTB_status_is_requested</description>
        <name>decision_if_WTB_status_is_requested</name>
        <label>decision if WTB status is requested</label>
        <locationX>336</locationX>
        <locationY>3599</locationY>
        <defaultConnector>
            <targetReference>Decision_if_WTB_is_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WTB_is_requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WTB_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WTB Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WTB_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Opp_WTB_Status_And_WTB_Date</targetReference>
            </connector>
            <label>WTB is requested</label>
        </rules>
    </decisions>
    <decisions>
        <description>WTB_Process_High_Priority_decision</description>
        <name>WTB_Process_High_Priority_decision</name>
        <label>WTB Process High Priority decision</label>
        <locationX>336</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>WTB_Process_Medium_Priority_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WTB_High_priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WTB_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WTB_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WTB_Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High (immediate WTB email)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_if_VA_User_exists</targetReference>
            </connector>
            <label>WTB High priority</label>
        </rules>
    </decisions>
    <decisions>
        <description>WTB_Process_Low_Priority_decision</description>
        <name>WTB_Process_Low_Priority_decision</name>
        <label>WTB Process Low Priority decision</label>
        <locationX>336</locationX>
        <locationY>2783</locationY>
        <defaultConnector>
            <targetReference>decision_if_WTB_status_is_requested</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WTB_Low_priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WTB_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WTB_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WTB_Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low (Post on iron sites only)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>task_for_posting_WTB_on_IC_Low_Priority</targetReference>
            </connector>
            <label>WTB Low priority</label>
        </rules>
    </decisions>
    <decisions>
        <description>WTB_Process_Medium_Priority_decision</description>
        <name>WTB_Process_Medium_Priority_decision</name>
        <label>WTB Process Medium Priority decision</label>
        <locationX>336</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>WTB_Process_Low_Priority_decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WTB_Medium_priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WTB_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WTB_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WTB_Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medium (include w/ weekly WTB)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>task_for_sending_weekly_WTB_Mail</targetReference>
            </connector>
            <label>WTB Medium priority</label>
        </rules>
    </decisions>
    <description>Opportunity_WTB_Process_of_Opportunity</description>
    <environments>Default</environments>
    <formulas>
        <description>After14Days</description>
        <name>After14Days</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 14</expression>
    </formulas>
    <formulas>
        <description>After1Day</description>
        <name>After1Day</name>
        <dataType>Date</dataType>
        <expression>TODAY()+1</expression>
    </formulas>
    <formulas>
        <description>After2Days</description>
        <name>After2Days</name>
        <dataType>Date</dataType>
        <expression>TODAY()+2</expression>
    </formulas>
    <formulas>
        <description>After30Days</description>
        <name>After30Days</name>
        <dataType>Date</dataType>
        <expression>TODAY()+30</expression>
    </formulas>
    <formulas>
        <description>After3Days</description>
        <name>After3Days</name>
        <dataType>Date</dataType>
        <expression>TODAY()+3</expression>
    </formulas>
    <formulas>
        <description>After7Days</description>
        <name>After7Days</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <formulas>
        <description>emailsearchtasksubject</description>
        <name>emailsearchtasksubject</name>
        <dataType>String</dataType>
        <expression>&apos;Look for WTB: &apos; + {!$Record.WTB_Parameters__c}</expression>
    </formulas>
    <formulas>
        <description>FB_LI_Day_1_Next_Month_Due_Date</description>
        <name>FB_LI_Day_1_Next_Month_Due_Date</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),MONTH(TODAY())+1, 1)</expression>
    </formulas>
    <formulas>
        <description>OpportunityName</description>
        <name>OpportunityName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Year_from_Unit__c} + &apos; &apos; + {!$Record.Model_from_Unit__c} + &apos; &apos; + {!$Record.Account.Name} + &apos; &apos; + {!$Record.Product__c}</expression>
    </formulas>
    <formulas>
        <description>today</description>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <description>WaitingForBuyerWireTaskSubject</description>
        <name>WaitingForBuyerWireTaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Wire should be coming in for $&quot; + TEXT({!$Record.Pro_Forma_Price_Sent__c}) + &quot;. Once received, move opp to delivering (if we are doing freight) or closed won stage&quot;</expression>
    </formulas>
    <interviewLabel>Opportunity - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity -WTB Process of Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>task_for_email_search_of_CM</description>
        <name>task_for_email_search_of_CM</name>
        <label>task for email search of CM</label>
        <locationX>182</locationX>
        <locationY>1511</locationY>
        <connector>
            <targetReference>task_for_email_search_of_HB</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_President.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>emailsearchtasksubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>task_for_email_search_of_CM_Low_priority</description>
        <name>task_for_email_search_of_CM_Low_priority</name>
        <label>task for email search of CM Low priority</label>
        <locationX>204</locationX>
        <locationY>3263</locationY>
        <connector>
            <targetReference>task_for_email_search_of_HB_Low_priority</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_President.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>emailsearchtasksubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>task_for_email_search_of_CM_Medium_priority</description>
        <name>task_for_email_search_of_CM_Medium_priority</name>
        <label>task for email search of CM Medium priority</label>
        <locationX>204</locationX>
        <locationY>2447</locationY>
        <connector>
            <targetReference>task_for_email_search_of_HB_Medium_priority</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_President.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>emailsearchtasksubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>task_for_email_search_of_HB</description>
        <name>task_for_email_search_of_HB</name>
        <label>task for email search of HB</label>
        <locationX>182</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>WTB_Process_Medium_Priority_decision</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_Inside_Central.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>emailsearchtasksubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>task_for_email_search_of_HB_Low_priority</description>
        <name>task_for_email_search_of_HB_Low_priority</name>
        <label>task for email search of HB Low  priority</label>
        <locationX>204</locationX>
        <locationY>3383</locationY>
        <connector>
            <targetReference>decision_if_WTB_status_is_requested</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_Inside_Central.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>emailsearchtasksubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>task_for_email_search_of_HB_Medium_priority</description>
        <name>task_for_email_search_of_HB_Medium_priority</name>
        <label>task for email search of HB Medium priority</label>
        <locationX>204</locationX>
        <locationY>2567</locationY>
        <connector>
            <targetReference>WTB_Process_Low_Priority_decision</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_Inside_Central.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>emailsearchtasksubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>task_for_Posting_on_Iron_Sites</description>
        <name>task_for_Posting_on_Iron_Sites</name>
        <label>task for Posting on Iron Sites</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>task_for_Searching_CL_FB_Inventory</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Post WTB on MT (crane trader or truck trader as needed), Mascus, Machinio, Rock &amp; Dirt, Construction Equipment Guide, and Used Equipment Guide. Matches to be added to opp.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>task_for_posting_WTB_on_IC</description>
        <name>task_for_posting_WTB_on_IC</name>
        <label>task for posting WTB on IC</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>task_for_Posting_on_Iron_Sites</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Post WTB on Iron Connect.  If it is an ON ROAD truck, or a CRANE, please DO NOT post on IronConnect,close task as not required.  Matching units to be added to opp.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>task_for_posting_WTB_on_IC_Low_Priority</description>
        <name>task_for_posting_WTB_on_IC_Low_Priority</name>
        <label>task for posting WTB on IC Low Priority</label>
        <locationX>204</locationX>
        <locationY>2903</locationY>
        <connector>
            <targetReference>task_for_posting_WTB_on_Iron_Sites_Low_Priority</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Post WTB on Iron Connect.  If it is an ON ROAD truck, or a CRANE, please DO NOT post on IronConnect,close task as not required.  Matching units to be added to opp.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>task_for_posting_WTB_on_IC_Medium_Priority</description>
        <name>task_for_posting_WTB_on_IC_Medium_Priority</name>
        <label>task for posting WTB on IC Medium Priority</label>
        <locationX>204</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>task_for_posting_WTB_on_Iron_Sites_Medium_Priority</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Post WTB on Iron Connect.  If it is an ON ROAD truck, or a CRANE, please DO NOT post on IronConnect,close task as not required.  Matching units to be added to opp.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>task_for_posting_WTB_on_Iron_Sites_Low_Priority</description>
        <name>task_for_posting_WTB_on_Iron_Sites_Low_Priority</name>
        <label>task for posting WTB on Iron Sites Low Priority</label>
        <locationX>204</locationX>
        <locationY>3023</locationY>
        <connector>
            <targetReference>task_for_Searching_other_sources_Low_Priority</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue> Post WTB on MT (crane trader or truck trader as needed), Mascus, Machinio, Rock &amp; Dirt, Construction Equipment Guide, and Used Equipment Guide. Matches to be added to opp.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>task_for_posting_WTB_on_Iron_Sites_Medium_Priority</description>
        <name>task_for_posting_WTB_on_Iron_Sites_Medium_Priority</name>
        <label>task for posting WTB on Iron Sites Medium Priority</label>
        <locationX>204</locationX>
        <locationY>2207</locationY>
        <connector>
            <targetReference>task_for_Searching_other_sources_Medium_Priority</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Post WTB on MT (crane trader or truck trader as needed), Mascus, Machinio, Rock &amp; Dirt, Construction Equipment Guide, and Used Equipment Guide. Matches to be added to opp.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>task_for_Searching_CL_FB_Inventory</description>
        <name>task_for_Searching_CL_FB_Inventory</name>
        <label>task for Searching CL/FB/Inventory</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>task_for_email_search_of_CM</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Search CL, FB, auctions, and existing inventory for options.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>task_for_Searching_other_sources_Low_Priority</description>
        <name>task_for_Searching_other_sources_Low_Priority</name>
        <label>task for Searching other sources Low Priority</label>
        <locationX>204</locationX>
        <locationY>3143</locationY>
        <connector>
            <targetReference>task_for_email_search_of_CM_Low_priority</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Search CL, FB, and existing inventory for options.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>task_for_Searching_other_sources_Medium_Priority</description>
        <name>task_for_Searching_other_sources_Medium_Priority</name>
        <label>task for Searching other sources Medium Priority</label>
        <locationX>204</locationX>
        <locationY>2327</locationY>
        <connector>
            <targetReference>task_for_email_search_of_CM_Medium_priority</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Search CL, FB, auctions, and existing inventory for options.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>task_for_sending_weekly_WTB_Mail</description>
        <name>task_for_sending_weekly_WTB_Mail</name>
        <label>task for sending weekly WTB Mail</label>
        <locationX>204</locationX>
        <locationY>1967</locationY>
        <connector>
            <targetReference>task_for_posting_WTB_on_IC_Medium_Priority</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Add to weekly WTB email list; matches to be added directly to the opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>task_for_sending_WTB_Mail</description>
        <name>task_for_sending_WTB_Mail</name>
        <label>task for sending WTB Mail</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>task_for_posting_WTB_on_IC</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Send WTB email with parameters to equipment sellers, end users, dealers, and finance companies.  Responses will be sent to you to add to original opp as multiple units.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>get_User_Inside_Central</description>
        <name>get_User_Inside_Central</name>
        <label>get User Inside Central</label>
        <locationX>336</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_User_President</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Inside_Central</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get_User_President</description>
        <name>get_User_President</name>
        <label>get User President</label>
        <locationX>336</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WTB_Process_High_Priority_decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.President</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get_User_VA</description>
        <name>get_User_VA</name>
        <label>get User VA</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_User_Inside_Central</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.VA</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>clear_WTB_Date_on_Opp</description>
        <name>clear_WTB_Date_on_Opp</name>
        <label>clear WTB Date on Opp</label>
        <locationX>204</locationX>
        <locationY>4055</locationY>
        <inputAssignments>
            <field>WTB_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>update_Opp_WTB_Status_And_WTB_Date</description>
        <name>update_Opp_WTB_Status_And_WTB_Date</name>
        <label>update Opp WTB Status And WTB Date</label>
        <locationX>204</locationX>
        <locationY>3719</locationY>
        <connector>
            <targetReference>Decision_if_WTB_is_Completed</targetReference>
        </connector>
        <inputAssignments>
            <field>WTB_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WTB_Status__c</field>
            <value>
                <stringValue>WTB In Process</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_User_VA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
