force-app/main/default/flows/Opportunity_Auto_Populate_the_Opportunity_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>decision_if_Buyer_primary_contact_available</description>
        <name>decision_if_Buyer_primary_contact_available</name>
        <label>decision if Buyer primary contact available</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>decision_if_primary_contact_for_Opportunity_is_available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Buyer_Prim_Contact_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Buyer_Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_buyer_primary_contact_first_name_on_Opportunity</targetReference>
            </connector>
            <label>Buyer Prim Contact available</label>
        </rules>
    </decisions>
    <decisions>
        <description>decision_if_primary_contact_for_Opportunity_is_available</description>
        <name>decision_if_primary_contact_for_Opportunity_is_available</name>
        <label>decision if primary contact for Opportunity is available</label>
        <locationX>446</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Decision_if_Rec_type_is_inventory_sell_or_buyer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prim_Contact_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_primary_contact_first_name</targetReference>
            </connector>
            <label>Prim Contact available</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision_if_Rec_type_is_inventory_sell_or_buyer</description>
        <name>Decision_if_Rec_type_is_inventory_sell_or_buyer</name>
        <label>Decision if Rec type is inventory sell or buyer</label>
        <locationX>446</locationX>
        <locationY>1007</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inventory_sell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Opportunity_Rec_Type_Inventory_Sell</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Name_Of_Inventory_Opp</targetReference>
            </connector>
            <label>Inventory sell</label>
        </rules>
        <rules>
            <name>Broker_Rec_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Opp_Rec_Type_Broker_Sell</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Name_Of_Broker_Opp</targetReference>
            </connector>
            <label>Broker Rec Type</label>
        </rules>
        <rules>
            <name>Procurement_Rec_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Opp_Rec_type_Dev_Name_procurement_opp</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Name_Of_Procurement_Opp</targetReference>
            </connector>
            <label>Procurement Rec Type</label>
        </rules>
    </decisions>
    <description>Opportunity_Auto_Populate_the_Opportunity_Name

Also has two nodes for filling up Buyer Primary Contact First Name and Primary Contact First Name on the Opp record for using in email template in :

1. Brokerage Opp Automated Process Flow 
2. Procurement Opp processes Flow - &quot; Offfer Accepted Decision&quot; Decision node.</description>
    <environments>Default</environments>
    <formulas>
        <description>After14Days</description>
        <name>After14Days</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 14</expression>
    </formulas>
    <formulas>
        <description>After1Day</description>
        <name>After1Day</name>
        <dataType>Date</dataType>
        <expression>TODAY()+1</expression>
    </formulas>
    <formulas>
        <description>After2Days</description>
        <name>After2Days</name>
        <dataType>Date</dataType>
        <expression>TODAY()+2</expression>
    </formulas>
    <formulas>
        <description>After30Days</description>
        <name>After30Days</name>
        <dataType>Date</dataType>
        <expression>TODAY()+30</expression>
    </formulas>
    <formulas>
        <description>After3Days</description>
        <name>After3Days</name>
        <dataType>Date</dataType>
        <expression>TODAY()+3</expression>
    </formulas>
    <formulas>
        <description>After7Days</description>
        <name>After7Days</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <formulas>
        <name>Broker_Rec_Type_Opp_Name</name>
        <dataType>String</dataType>
        <expression>&apos;BROK&apos; + &apos; &apos; + &apos;[&apos; + {!$Record.Account.Name} + &apos;]&apos; + &apos; &apos; + &apos;[&apos; + {!$Record.Year_from_Unit__c} + &apos; &apos; + {!$Record.Make__c} + &apos; &apos; + &apos;ZID-&apos; + &apos; &apos; + {!$Record.Product__r.ZID__c} + &apos;]&apos;</expression>
    </formulas>
    <formulas>
        <description>emailsearchtasksubject</description>
        <name>emailsearchtasksubject</name>
        <dataType>String</dataType>
        <expression>&apos;Look for WTB: &apos; + {!$Record.WTB_Parameters__c}</expression>
    </formulas>
    <formulas>
        <description>FB_LI_Day_1_Next_Month_Due_Date</description>
        <name>FB_LI_Day_1_Next_Month_Due_Date</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),MONTH(TODAY())+1, 1)</expression>
    </formulas>
    <formulas>
        <description>Inventory_Rec_Type_Opp_Name</description>
        <name>Inventory_Rec_Type_Opp_Name</name>
        <dataType>String</dataType>
        <expression>&apos;INVE&apos; + &apos; &apos; + &apos;[&apos; + {!$Record.Account.Name} + &apos;]&apos; + &apos; &apos; + &apos;[&apos; + {!$Record.Year_from_Unit__c} + &apos; &apos; + {!$Record.Make__c} + &apos; &apos; + &apos;ZID-&apos; + &apos; &apos; + {!$Record.Product__r.ZID__c} + &apos;]&apos;</expression>
    </formulas>
    <formulas>
        <description>Procurement_Rec_Type_Opp_Name</description>
        <name>Procurement_Rec_Type_Opp_Name</name>
        <dataType>String</dataType>
        <expression>&apos;PROC&apos; + &apos; &apos; + &apos;[&apos; + {!$Record.Account.Name} + &apos;]&apos; + &apos; &apos; + &apos;[&apos; + {!$Record.Year_from_Unit__c} + &apos; &apos; + {!$Record.Make__c} + &apos; &apos; + &apos;ZID-&apos; + &apos; &apos; + {!$Record.Product__r.ZID__c} + &apos;]&apos;</expression>
    </formulas>
    <formulas>
        <description>today</description>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <description>WaitingForBuyerWireTaskSubject</description>
        <name>WaitingForBuyerWireTaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Wire should be coming in for $&quot; + TEXT({!$Record.Pro_Forma_Price_Sent__c}) + &quot;. Once received, move opp to delivering (if we are doing freight) or closed won stage&quot;</expression>
    </formulas>
    <interviewLabel>Opportunity - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Auto Populate the Opportunity Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>update_buyer_primary_contact_first_name_on_Opportunity</description>
        <name>update_buyer_primary_contact_first_name_on_Opportunity</name>
        <label>update buyer primary contact first name on Opportunity</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>decision_if_primary_contact_for_Opportunity_is_available</targetReference>
        </connector>
        <inputAssignments>
            <field>Buyer_Primary_Contact_FirstName__c</field>
            <value>
                <elementReference>$Record.Buyer_Primary_Contact__r.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>update_Name_Of_Broker_Opp</description>
        <name>update_Name_Of_Broker_Opp</name>
        <label>update Name Of Broker Opp</label>
        <locationX>314</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Broker_Rec_Type_Opp_Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>update_Name_Of_Inventory_Opp</description>
        <name>update_Name_Of_Inventory_Opp</name>
        <label>update Name Of Inventory Opp</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Inventory_Rec_Type_Opp_Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>update_Name_Of_Procurement_Opp</description>
        <name>update_Name_Of_Procurement_Opp</name>
        <label>update Name Of Procurement Opp</label>
        <locationX>578</locationX>
        <locationY>1127</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Procurement_Rec_Type_Opp_Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>update_primary_contact_first_name</description>
        <name>update_primary_contact_first_name</name>
        <label>update primary contact first name</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>Decision_if_Rec_type_is_inventory_sell_or_buyer</targetReference>
        </connector>
        <inputAssignments>
            <field>Buyer_Primary_Contact_FirstName__c</field>
            <value>
                <elementReference>$Record.Account.Primary_Contact__r.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decision_if_Buyer_primary_contact_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1</triggerOrder>
</Flow>
