force-app/main/default/flows/Opportunity_Name_change_when_Procure_Opp_rec_type_Opp_is_created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>decision_if_Opp_haas_same_rec_type</description>
        <name>decision_if_Opp_haas_same_rec_type</name>
        <label>decision if Opp haas same rec type</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>rec_type_is_proc_opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRecTypeOfOpp.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>upadteOppName</targetReference>
            </connector>
            <label>rec type is proc opp</label>
        </rules>
    </decisions>
    <description>Opportunity_Name_change_when_Procure_Opp_rec_type_Opp_is_created</description>
    <environments>Default</environments>
    <formulas>
        <description>nameOfOpp</description>
        <name>nameOfOpp</name>
        <dataType>String</dataType>
        <expression>&apos;Procurement&apos; + &apos; &apos; + {!$Record.Account.Name} + &apos; &apos; +{!$Record.Product__r.Name}</expression>
    </formulas>
    <interviewLabel>Opportunity - Name change when Procure Opp rec type Opp is created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Name change when Procure Opp rec type Opp is created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>getRecTypeOfOpp</description>
        <name>getRecTypeOfOpp</name>
        <label>getRecTypeOfOpp</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_if_Opp_haas_same_rec_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Opp_Rec_type_Dev_Name_procurement_opp</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>upadteOppName</description>
        <name>upadteOppName</name>
        <label>upadteOppName</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>nameOfOpp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRecTypeOfOpp</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
