force-app/main/default/flows/Opportunity_Proactive_Brokerage_Date_Unit_Autotask.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_For_Unit_Owner</name>
        <label>Check For Unit Owner</label>
        <locationX>446</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Owner_is_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__r.Unit_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_for_Unit_Owner_to_Check_the_Unit_after_One_Week</targetReference>
            </connector>
            <label>If Owner is found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Unit_Owner1</name>
        <label>Check For Unit Owner</label>
        <locationX>974</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Owner_is_found1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__r.Unit_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_for_Unit_Owner_to_Check_the_Unit_after_Two_Weeks</targetReference>
            </connector>
            <label>Owner is found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Unit_Owner2</name>
        <label>Check For Unit Owner</label>
        <locationX>1502</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_is_found2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__r.Unit_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_for_Unit_Owner_to_Check_the_Unit_after_Three_Weeks</targetReference>
            </connector>
            <label>If Owner is found</label>
        </rules>
    </decisions>
    <description>Opportunity_Proactive_Brokerage_Date_Unit_Autotask</description>
    <environments>Default</environments>
    <formulas>
        <description>TODAY</description>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Opportunity - Proactive Brokerage Date Unit Autotask {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Proactive Brokerage Date Unit Autotask</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Task_for_Opportunity_Owner_to_Check_the_Unit_after_Four_Weeks</description>
        <name>Task_for_Opportunity_Owner_to_Check_the_Unit_after_Four_Weeks</name>
        <label>Task for Opportunity Owner to Check the Unit after Four Weeks</label>
        <locationX>1898</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Proactive brokerage opp closed after 4 weeks; please put back into proactive brokerage if needed.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Sales Administration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task_for_Unit_Owner_to_Check_the_Unit_after_One_Week</description>
        <name>Task_for_Unit_Owner_to_Check_the_Unit_after_One_Week</name>
        <label>Task for Unit Owner to Check the Unit after One Week</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Product__r.Unit_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>One week since the unit was made Proactive for brokerage. Confirm availability and pricing drops from sellers.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Sales Administration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Product__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task_for_Unit_Owner_to_Check_the_Unit_after_Three_Weeks</description>
        <name>Task_for_Unit_Owner_to_Check_the_Unit_after_Three_Weeks</name>
        <label>Task for Unit Owner to Check the Unit after Three Weeks</label>
        <locationX>1370</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Product__r.Unit_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Three weeks since the unit was made Proactive for brokerage. Confirm availability and pricing drops from sellers.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Sales Administration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Product__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task_for_Unit_Owner_to_Check_the_Unit_after_Two_Weeks</description>
        <name>Task_for_Unit_Owner_to_Check_the_Unit_after_Two_Weeks</name>
        <label>Task for Unit Owner to Check the Unit after Two Weeks</label>
        <locationX>842</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Product__r.Unit_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Two weeks since the unit was made Proactive for brokerage. Confirm availability and pricing drops from sellers.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Sales Administration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Product__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>Stop_Opportunity_Pursuing</description>
        <name>Stop_Opportunity_Pursuing</name>
        <label>Stop Opportunity Pursuing</label>
        <locationX>1898</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>Task_for_Opportunity_Owner_to_Check_the_Unit_after_Four_Weeks</targetReference>
        </connector>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Stopped Pursuing</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>update_proactive_brokerage_Date_to_today</description>
        <name>update_proactive_brokerage_Date_to_today</name>
        <label>update proactive brokerage Date to today</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <inputAssignments>
            <field>Proactive_Brokerage_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>update_proactive_brokerage_Date_to_today</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proactive Brokerage</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>After_one_week</name>
            <connector>
                <targetReference>Check_For_Unit_Owner</targetReference>
            </connector>
            <label>After one week</label>
            <offsetNumber>7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Proactive_Brokerage_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>After_two_week</name>
            <connector>
                <targetReference>Check_For_Unit_Owner1</targetReference>
            </connector>
            <label>After two week</label>
            <offsetNumber>14</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Proactive_Brokerage_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>After_three_week</name>
            <connector>
                <targetReference>Check_For_Unit_Owner2</targetReference>
            </connector>
            <label>After three week</label>
            <offsetNumber>21</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Proactive_Brokerage_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>After_four_week</name>
            <connector>
                <targetReference>Stop_Opportunity_Pursuing</targetReference>
            </connector>
            <label>After four week</label>
            <offsetNumber>28</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Proactive_Brokerage_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
