force-app/main/default/flows/Opportunity_multiple_updates_on_name_primary_contact_contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>decision_for_Opp_Primary_Contact_buyer_con</name>
        <label>decision for Opp Primary Contact != buyer con</label>
        <locationX>314</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>decision_for_Seller_by_Acc_or_Seller_by_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>oppp_primary_contact_not_equal_buyer_primary_con</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Primary_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Buyer_Primary_Contact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Buyer_Primary_Con_with_Acc_Primary_Con</targetReference>
            </connector>
            <label>oppp primary contact not equal buyer primary con</label>
        </rules>
    </decisions>
    <decisions>
        <description>decision_for_Seller_by_Acc_or_Seller_by_Lead</description>
        <name>decision_for_Seller_by_Acc_or_Seller_by_Lead</name>
        <label>decision for Seller by Acc or Seller by Lead</label>
        <locationX>314</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Decision_if_Opp_has_Prod</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>seller_by_Acc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Seller_Primary_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__r.Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Opp_Rec_type_Dev_Name_procurement_opp</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateOppMobileAndPhoneDetailByAcc</targetReference>
            </connector>
            <label>seller by Acc</label>
        </rules>
        <rules>
            <name>Seller_by_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Seller_Primary_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__r.Lead_Unit_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Opp_Rec_type_Dev_Name_procurement_opp</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateOppMobileAndPhoneDetailByLeadOwner</targetReference>
            </connector>
            <label>Seller by Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision_if_Opp_Forecast_category_is_not_omitted_or_closed</description>
        <name>Decision_if_Opp_Forecast_category_is_not_omitted_or_closed</name>
        <label>Decision if Opp Forecast category is not omitted or closed</label>
        <locationX>314</locationX>
        <locationY>2519</locationY>
        <defaultConnector>
            <targetReference>Decision_if_Opp_Forecast_category_is_pipeline_best_case_or_commit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>forecast_cate_is_not_omitted_or_closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ForecastCategory</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Omitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ForecastCategory</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Product_unit_related_to_Opportunity_forecast_category</targetReference>
            </connector>
            <label>forecast cate is not omitted or closed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision_if_Opp_Forecast_category_is_pipeline_best_case_or_commit</description>
        <name>Decision_if_Opp_Forecast_category_is_pipeline_best_case_or_commit</name>
        <label>Decision if Opp Forecast category is pipeline best case or commit</label>
        <locationX>314</locationX>
        <locationY>2855</locationY>
        <defaultConnector>
            <targetReference>Opp_delivered_on_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>forecast_cate_is_pipeline_best_case_or_commid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ForecastCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ForecastCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BestCase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ForecastCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Product_unit_related_to_Opportunity_forecast_cate_pipeline</targetReference>
            </connector>
            <label>forecast cate is pipeline best case or commid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision_if_Opp_has_Prod</description>
        <name>Decision_if_Opp_has_Prod</name>
        <label>Decision if Opp has Prod</label>
        <locationX>314</locationX>
        <locationY>2183</locationY>
        <defaultConnector>
            <targetReference>Decision_if_Opp_Forecast_category_is_not_omitted_or_closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_has_Product</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Product_unit_related_to_Opp</targetReference>
            </connector>
            <label>Opportunity has Product</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision_if_Rec_type_is_inventory_sell_or_buyer</description>
        <name>Decision_if_Rec_type_is_inventory_sell_or_buyer</name>
        <label>Decision if Rec type is inventory sell or buyer</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>decision_for_Opp_Primary_Contact_buyer_con</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inventory_sell_or_Buyer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Opportunity_Rec_Type_Inventory_Sell</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Opp_Rec_Type_Broker_Sell</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateNameOfOpp</targetReference>
            </connector>
            <label>Inventory sell or Buyer</label>
        </rules>
    </decisions>
    <decisions>
        <description>Opp_delivered_on_is_changed</description>
        <name>Opp_delivered_on_is_changed</name>
        <label>Opp delivered on is changed</label>
        <locationX>314</locationX>
        <locationY>3191</locationY>
        <defaultConnector>
            <targetReference>Opp_Sellers_Initial_Bottom_Price_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>delivered_on_is_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Delivered_On__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_delivered_on_in_Product</targetReference>
            </connector>
            <label>delivered on is changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Opp_Delivery_Method_is_changed</description>
        <name>Opp_Delivery_Method_is_changed</name>
        <label>Opp Delivery Method is changed</label>
        <locationX>314</locationX>
        <locationY>4535</locationY>
        <defaultConnector>
            <targetReference>Opp_Delivery_Notes_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delivery_Method_is_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Delivery_Method__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Delivery_Method_in_Product</targetReference>
            </connector>
            <label>Delivery Method is changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Opp_Delivery_Notes_is_changed</description>
        <name>Opp_Delivery_Notes_is_changed</name>
        <label>Opp Delivery Notes is changed</label>
        <locationX>314</locationX>
        <locationY>4871</locationY>
        <defaultConnector>
            <targetReference>Opp_Site_Contact_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delivery_Notes_is_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Delivery_Notes__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Delivery_Notes_in_Product</targetReference>
            </connector>
            <label>Delivery Notes is changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Opp_Forecast_Category_Closed_Decision</description>
        <name>Opp_Forecast_Category_Closed_Decision</name>
        <label>Opp Forecast Category Closed Decision</label>
        <locationX>314</locationX>
        <locationY>7223</locationY>
        <defaultConnector>
            <targetReference>Opp_Lost_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Forecast_Category_Closed_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ForecastCategory</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ForecastCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>task_for_Sending_Paid_Invoice</targetReference>
            </connector>
            <label>Forecast Category Closed Decision</label>
        </rules>
    </decisions>
    <decisions>
        <description>Opp_Lost_Decision</description>
        <name>Opp_Lost_Decision</name>
        <label>Opp Lost Decision</label>
        <locationX>314</locationX>
        <locationY>8519</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>opp_forecast_Category_Omitted</targetReference>
            </connector>
            <label>Opp Lost</label>
        </rules>
    </decisions>
    <decisions>
        <description>Opp_MT_Live_Listing_is_changed</description>
        <name>Opp_MT_Live_Listing_is_changed</name>
        <label>Opp MT Live Listing is changed</label>
        <locationX>314</locationX>
        <locationY>6551</locationY>
        <defaultConnector>
            <targetReference>Opp_Waiting_for_Buyer_s_Wire_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MT_Live_Listing_is_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MT_Live_Listing__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_MT_Live_Listing_in_Product</targetReference>
            </connector>
            <label>MT Live Listing is changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Opp_Sellers_Initial_Bottom_Price_is_changed</description>
        <name>Opp_Sellers_Initial_Bottom_Price_is_changed</name>
        <label>Opp Sellers Initial Bottom Price is changed</label>
        <locationX>314</locationX>
        <locationY>3527</locationY>
        <defaultConnector>
            <targetReference>Opp_Sellers_Most_Recent_Bottom_Price_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sellers_Initial_Bottom_Price_is_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sellers_Initial_Bottom_Price__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Sellers_Initial_Bottom_Price_in_Product</targetReference>
            </connector>
            <label>Sellers Initial Bottom Price is changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Opp_Sellers_Most_Recent_Bottom_Price_is_changed</description>
        <name>Opp_Sellers_Most_Recent_Bottom_Price_is_changed</name>
        <label>Opp Sellers Most Recent Bottom Price is changed</label>
        <locationX>314</locationX>
        <locationY>3863</locationY>
        <defaultConnector>
            <targetReference>Opp_Sellers_Original_Asking_Price_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sellers_Most_Recent_Bottom_Price_is_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sellers_Most_Recent_Bottom_Price__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Sellers_Most_Recent_Bottom_Price_in_Product</targetReference>
            </connector>
            <label>Sellers Most Recent Bottom Price is changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Opp_Sellers_Original_Asking_Price_is_changed</description>
        <name>Opp_Sellers_Original_Asking_Price_is_changed</name>
        <label>Opp Sellers Original Asking Price is changed</label>
        <locationX>314</locationX>
        <locationY>4199</locationY>
        <defaultConnector>
            <targetReference>Opp_Delivery_Method_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sellers_Original_Asking_Price_is_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sellers_Original_Asking_Price__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Sellers_Original_Asking_Price_in_Product</targetReference>
            </connector>
            <label>Sellers Original Asking Price is changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Opp_Site_Contact_is_changed</description>
        <name>Opp_Site_Contact_is_changed</name>
        <label>Opp Site Contact is changed</label>
        <locationX>314</locationX>
        <locationY>5207</locationY>
        <defaultConnector>
            <targetReference>Opp_Zadoon_s_Final_Sale_Price_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Site_Contact_is_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Site_Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Site_Contact_in_Product</targetReference>
            </connector>
            <label>Site Contact is changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Opp_Waiting_for_Buyer_s_Wire_is_changed</description>
        <name>Opp_Waiting_for_Buyer_s_Wire_is_changed</name>
        <label>Opp Waiting for Buyer&apos;s Wire is changed</label>
        <locationX>314</locationX>
        <locationY>6887</locationY>
        <defaultConnector>
            <targetReference>Opp_Forecast_Category_Closed_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Waiting_for_Buyer_s_Wire_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Buyer&apos;s Wire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>task_for_Watch_for_wire_in_move_opp_to_closed_won_or_delivering_stage</targetReference>
            </connector>
            <label>Waiting for Buyer&apos;s Wire is changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Opp_Zadoon_s_Final_Purchase_Price_is_changed</description>
        <name>Opp_Zadoon_s_Final_Purchase_Price_is_changed</name>
        <label>Opp Zadoon&apos;s Final Purchase Price is changed</label>
        <locationX>314</locationX>
        <locationY>5879</locationY>
        <defaultConnector>
            <targetReference>Opp_Zadoons_Bottom_Sale_Price_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Zadoon_s_Final_Purchase_Price_is_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ZZadoon_s_Final_Purchase_Price__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Zadoon_s_Final_Purchase_Price_in_Product</targetReference>
            </connector>
            <label>Zadoon&apos;s Final Purchase Price is changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Opp_Zadoon_s_Final_Sale_Price_is_changed</description>
        <name>Opp_Zadoon_s_Final_Sale_Price_is_changed</name>
        <label>Opp Zadoon&apos;s Final Sale Price is changed</label>
        <locationX>314</locationX>
        <locationY>5543</locationY>
        <defaultConnector>
            <targetReference>Opp_Zadoon_s_Final_Purchase_Price_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Zadoon_s_Final_Sale_Price_is_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Zadoon_s_Final_Sale_Price__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Zadoon_s_Final_Sale_Price_in_Product</targetReference>
            </connector>
            <label>Zadoon&apos;s Final Sale Price is changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Opp_Zadoons_Bottom_Sale_Price_is_changed</description>
        <name>Opp_Zadoons_Bottom_Sale_Price_is_changed</name>
        <label>Opp Zadoons Bottom Sale Price is changed</label>
        <locationX>314</locationX>
        <locationY>6215</locationY>
        <defaultConnector>
            <targetReference>Opp_MT_Live_Listing_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Zadoons_Bottom_Sale_Price_is_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Zadoons_Bottom_Sale_Price__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Zadoons_Bottom_Sale_Price_in_Product</targetReference>
            </connector>
            <label>Zadoons Bottom Sale Price is changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>After14Days</description>
        <name>After14Days</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 14</expression>
    </formulas>
    <formulas>
        <description>After1Day</description>
        <name>After1Day</name>
        <dataType>Date</dataType>
        <expression>TODAY()+1</expression>
    </formulas>
    <formulas>
        <description>After2Days</description>
        <name>After2Days</name>
        <dataType>Date</dataType>
        <expression>TODAY()+2</expression>
    </formulas>
    <formulas>
        <description>After30Days</description>
        <name>After30Days</name>
        <dataType>Date</dataType>
        <expression>TODAY()+30</expression>
    </formulas>
    <formulas>
        <description>After3Days</description>
        <name>After3Days</name>
        <dataType>Date</dataType>
        <expression>TODAY()+3</expression>
    </formulas>
    <formulas>
        <description>After7Days</description>
        <name>After7Days</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <formulas>
        <description>emailsearchtasksubject</description>
        <name>emailsearchtasksubject</name>
        <dataType>String</dataType>
        <expression>&apos;Look for WTB: &apos; + {!$Record.WTB_Parameters__c}</expression>
    </formulas>
    <formulas>
        <description>FB_LI_Day_1_Next_Month_Due_Date</description>
        <name>FB_LI_Day_1_Next_Month_Due_Date</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),MONTH(TODAY())+1, 1)</expression>
    </formulas>
    <formulas>
        <description>OpportunityName</description>
        <name>OpportunityName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Year_from_Unit__c} + &apos; &apos; + {!$Record.Model_from_Unit__c} + &apos; &apos; + {!$Record.Account.Name} + &apos; &apos; + {!$Record.Product__c}</expression>
    </formulas>
    <formulas>
        <description>today</description>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <description>WaitingForBuyerWireTaskSubject</description>
        <name>WaitingForBuyerWireTaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Wire should be coming in for $&quot; + TEXT({!$Record.Pro_Forma_Price_Sent__c}) + &quot;. Once received, move opp to delivering (if we are doing freight) or closed won stage&quot;</expression>
    </formulas>
    <interviewLabel>Opportunity - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - multiple updates on name primary contact contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>task_for_Adding_wire_info_to_QBO</description>
        <name>task_for_Adding_wire_info_to_QBO</name>
        <label>task for Adding wire info to QBO</label>
        <locationX>182</locationX>
        <locationY>7463</locationY>
        <connector>
            <targetReference>task_for_Capturing_expenses_revenues</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getUserLauraOlds.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Add wire transfer collateral to QBO transaction</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Finance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>task_for_Capturing_expenses_revenues</description>
        <name>task_for_Capturing_expenses_revenues</name>
        <label>task for Capturing expenses/revenues</label>
        <locationX>182</locationX>
        <locationY>7583</locationY>
        <connector>
            <targetReference>task_for_Ensuring_GP_is_accurate</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getUserLauraOlds.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Ensure all revenue and expense transactions for unit are added as URT and added to QBO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Finance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>task_for_coordinating_Transport_Logistics</description>
        <name>task_for_coordinating_Transport_Logistics</name>
        <label>task for coordinating Transport/Logistics</label>
        <locationX>182</locationX>
        <locationY>7823</locationY>
        <connector>
            <targetReference>task_for_Sold_post_on_FB_LI</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Coordinate pickup / delivery with buyer and site contact.  Coordinate transportation if needed.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Transportation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>task_for_Ensuring_GP_is_accurate</description>
        <name>task_for_Ensuring_GP_is_accurate</name>
        <label>task for Ensuring GP is accurate</label>
        <locationX>182</locationX>
        <locationY>7703</locationY>
        <connector>
            <targetReference>task_for_coordinating_Transport_Logistics</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getUserLauraOlds.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Update Opp GP to reflect correct GP amount</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Sales Administration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>task_for_Review_Won_Opp_follow_up</description>
        <name>task_for_Review_Won_Opp_follow_up</name>
        <label>task for Review/Won Opp follow up</label>
        <locationX>182</locationX>
        <locationY>8183</locationY>
        <connector>
            <targetReference>Update_Unit_Page_related_to_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>After30Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Won opp follow-up &amp; review request.  If good review, task Sales Admin to post positive review on FB/Social Media.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Sales Administration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>task_for_Sending_Paid_Invoice</description>
        <name>task_for_Sending_Paid_Invoice</name>
        <label>task for Sending Paid Invoice</label>
        <locationX>182</locationX>
        <locationY>7343</locationY>
        <connector>
            <targetReference>task_for_Adding_wire_info_to_QBO</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getUserLauraOlds.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Send Paid Invoice to buyer, copy opp owner; call buyer and introduce self as the transport/logistics contact.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Finance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>task_for_Sold_post_on_FB_LI</description>
        <name>task_for_Sold_post_on_FB_LI</name>
        <label>task for Sold post on FB/LI</label>
        <locationX>182</locationX>
        <locationY>7943</locationY>
        <connector>
            <targetReference>task_for_Unlisting_from_MT_IC_CL</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>FB_LI_Day_1_Next_Month_Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getUserBrandiNorris.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Post a picture of this unit on a truck, or a picture of it with a &quot;SOLD&quot; stamp on it, to Zadoon&apos;s FB AND LinkedIn Pages.  Create tasks for CM and HB to post on their FB/LinkedIn pages.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue> Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>task_for_Unlisting_from_MT_IC_CL</description>
        <name>task_for_Unlisting_from_MT_IC_CL</name>
        <label>task for Unlisting from MT/IC/CL</label>
        <locationX>182</locationX>
        <locationY>8063</locationY>
        <connector>
            <targetReference>task_for_Review_Won_Opp_follow_up</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getUserShellyMurphy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Unlist this unit from MT/IC/CL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue> Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>task_for_Watch_for_wire_in_move_opp_to_closed_won_or_delivering_stage</description>
        <name>task_for_Watch_for_wire_in_move_opp_to_closed_won_or_delivering_stage</name>
        <label>task for Watch for wire in, move opp to closed/won or delivering stage</label>
        <locationX>182</locationX>
        <locationY>7007</locationY>
        <connector>
            <targetReference>Opp_Forecast_Category_Closed_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getUserLauraOlds.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>WaitingForBuyerWireTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Sales Administration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>getUserBrandiNorris</description>
        <name>getUserBrandiNorris</name>
        <label>getUserBrandiNorris</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_if_Rec_type_is_inventory_sell_or_buyer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.user_Brandi_Norris</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>getUserCollinMagliolo</description>
        <name>getUserCollinMagliolo</name>
        <label>getUserCollinMagliolo</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getUserKyleKelliher</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.user_Collin_D_Magliolo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>getUserHardyBora</description>
        <name>getUserHardyBora</name>
        <label>getUserHardyBora</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getUserCollinMagliolo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.user_Hardy_Bora_For_Unit_Task_Flow</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>getUserKyleKelliher</description>
        <name>getUserKyleKelliher</name>
        <label>getUserKyleKelliher</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getUserLauraOlds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.user_Kyle_Kelliher</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>getUserLauraOlds</description>
        <name>getUserLauraOlds</name>
        <label>getUserLauraOlds</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getUserWalkerHiggins</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.user_Laura_Olds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>getUserShellyMurphy</description>
        <name>getUserShellyMurphy</name>
        <label>getUserShellyMurphy</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getUserHardyBora</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.user_Shelly_Murphy_For_Unit_Task_Flow</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>getUserWalkerHiggins</description>
        <name>getUserWalkerHiggins</name>
        <label>getUserWalkerHiggins</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getUserBrandiNorris</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.user_Walker_Higgins</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>opp_forecast_Category_Omitted</description>
        <name>opp_forecast_Category_Omitted</name>
        <label>opp forecast Category Omitted</label>
        <locationX>182</locationX>
        <locationY>8639</locationY>
        <inputAssignments>
            <field>ForecastCategoryName</field>
            <value>
                <stringValue>Omitted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>update_Buyer_Primary_Con_with_Acc_Primary_Con</description>
        <name>update_Buyer_Primary_Con_with_Acc_Primary_Con</name>
        <label>update Buyer Primary Con with Acc Primary Con</label>
        <locationX>182</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>decision_for_Seller_by_Acc_or_Seller_by_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Buyer_Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Account.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>update_delivered_on_in_Product</description>
        <name>update_delivered_on_in_Product</name>
        <label>update delivered on in Product</label>
        <locationX>182</locationX>
        <locationY>3311</locationY>
        <connector>
            <targetReference>Opp_Sellers_Initial_Bottom_Price_is_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Delivered_On__c</field>
            <value>
                <elementReference>$Record.Delivered_On__c</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <description>update_Delivery_Method_in_Product</description>
        <name>update_Delivery_Method_in_Product</name>
        <label>update Delivery Method in Product</label>
        <locationX>182</locationX>
        <locationY>4655</locationY>
        <connector>
            <targetReference>Opp_Delivery_Notes_is_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Delivery_Method__c</field>
            <value>
                <elementReference>$Record.Delivery_Method__c</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <description>update_Delivery_Notes_in_Product</description>
        <name>update_Delivery_Notes_in_Product</name>
        <label>update Delivery Notes in Product</label>
        <locationX>182</locationX>
        <locationY>4991</locationY>
        <connector>
            <targetReference>Opp_Site_Contact_is_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Delivery_Notes__c</field>
            <value>
                <elementReference>$Record.Delivery_Notes__c</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <description>update_MT_Live_Listing_in_Product</description>
        <name>update_MT_Live_Listing_in_Product</name>
        <label>update MT Live Listing in Product</label>
        <locationX>182</locationX>
        <locationY>6671</locationY>
        <connector>
            <targetReference>Opp_Waiting_for_Buyer_s_Wire_is_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MT_Live_Listing__c</field>
            <value>
                <elementReference>$Record.MT_Live_Listing__c</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <description>update_Product_unit_related_to_Opp</description>
        <name>update_Product_unit_related_to_Opp</name>
        <label>update Product(unit) related to Opp</label>
        <locationX>182</locationX>
        <locationY>2303</locationY>
        <connector>
            <targetReference>Decision_if_Opp_Forecast_category_is_not_omitted_or_closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Unit_Involved_in_an_Active_Opportunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <description>update_Product_unit_related_to_Opportunity_forecast_cate_pipeline</description>
        <name>update_Product_unit_related_to_Opportunity_forecast_cate_pipeline</name>
        <label>update Product(unit) related to Opportunity forecast cate pipeline</label>
        <locationX>182</locationX>
        <locationY>2975</locationY>
        <connector>
            <targetReference>Opp_delivered_on_is_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Unit_Involved_in_an_Active_Opportunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <description>update_Product_unit_related_to_Opportunity_forecast_category</description>
        <name>update_Product_unit_related_to_Opportunity_forecast_category</name>
        <label>update Product(unit) related to Opportunity forecast category</label>
        <locationX>182</locationX>
        <locationY>2639</locationY>
        <connector>
            <targetReference>Decision_if_Opp_Forecast_category_is_pipeline_best_case_or_commit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Unit_Involved_in_an_Active_Opportunity__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <description>update_Sellers_Initial_Bottom_Price_in_Product</description>
        <name>update_Sellers_Initial_Bottom_Price_in_Product</name>
        <label>update Sellers Initial Bottom Price in Product</label>
        <locationX>182</locationX>
        <locationY>3647</locationY>
        <connector>
            <targetReference>Opp_Sellers_Most_Recent_Bottom_Price_is_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sellers_Initial_Bottom_Price__c</field>
            <value>
                <elementReference>$Record.Sellers_Initial_Bottom_Price__c</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <description>update_Sellers_Most_Recent_Bottom_Price_in_Product</description>
        <name>update_Sellers_Most_Recent_Bottom_Price_in_Product</name>
        <label>update Sellers Most Recent Bottom Price in Product</label>
        <locationX>182</locationX>
        <locationY>3983</locationY>
        <connector>
            <targetReference>Opp_Sellers_Original_Asking_Price_is_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sellers_Most_Recent_Bottom_Price__c</field>
            <value>
                <elementReference>$Record.Sellers_Most_Recent_Bottom_Price__c</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <description>update_Sellers_Original_Asking_Price_in_Product</description>
        <name>update_Sellers_Original_Asking_Price_in_Product</name>
        <label>update Sellers Original Asking Price in Product</label>
        <locationX>182</locationX>
        <locationY>4319</locationY>
        <connector>
            <targetReference>Opp_Delivery_Method_is_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Sellers_Original_Asking_Price__c</field>
            <value>
                <elementReference>$Record.Sellers_Original_Asking_Price__c</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <description>update_Site_Contact_in_Product</description>
        <name>update_Site_Contact_in_Product</name>
        <label>update Site Contact in Product</label>
        <locationX>182</locationX>
        <locationY>5327</locationY>
        <connector>
            <targetReference>Opp_Zadoon_s_Final_Sale_Price_is_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Site_Contact__c</field>
            <value>
                <elementReference>$Record.Site_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update_Unit_Page_related_to_Opp</description>
        <name>Update_Unit_Page_related_to_Opp</name>
        <label>Update Unit Page related to Opp</label>
        <locationX>182</locationX>
        <locationY>8303</locationY>
        <connector>
            <targetReference>Opp_Lost_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Sale_Price__c</field>
            <value>
                <elementReference>$Record.Pro_Forma_Price_Sent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sold_Deactivated_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Stage__c</field>
            <value>
                <stringValue>Zadoon Sold</stringValue>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <description>update_Zadoon_s_Final_Purchase_Price_in_Product</description>
        <name>update_Zadoon_s_Final_Purchase_Price_in_Product</name>
        <label>update Zadoon&apos;s Final Purchase Price in Product</label>
        <locationX>182</locationX>
        <locationY>5999</locationY>
        <connector>
            <targetReference>Opp_Zadoons_Bottom_Sale_Price_is_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Zadoon_s_Final_Purchase_Price__c</field>
            <value>
                <elementReference>$Record.ZZadoon_s_Final_Purchase_Price__c</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <description>update_Zadoon_s_Final_Sale_Price_in_Product</description>
        <name>update_Zadoon_s_Final_Sale_Price_in_Product</name>
        <label>update Zadoon&apos;s Final Sale Price in Product</label>
        <locationX>182</locationX>
        <locationY>5663</locationY>
        <connector>
            <targetReference>Opp_Zadoon_s_Final_Purchase_Price_is_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Sale_Price__c</field>
            <value>
                <elementReference>$Record.Zadoon_s_Final_Sale_Price__c</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <description>update_Zadoons_Bottom_Sale_Price_in_Product</description>
        <name>update_Zadoons_Bottom_Sale_Price_in_Product</name>
        <label>update Zadoons Bottom Sale Price in Product</label>
        <locationX>182</locationX>
        <locationY>6335</locationY>
        <connector>
            <targetReference>Opp_MT_Live_Listing_is_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Zadoons_Bottom_Sale_Price__c</field>
            <value>
                <elementReference>$Record.Zadoons_Bottom_Sale_Price__c</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <description>updateNameOfOpp</description>
        <name>updateNameOfOpp</name>
        <label>updateNameOfOpp</label>
        <locationX>182</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>decision_for_Opp_Primary_Contact_buyer_con</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>updateOppMobileAndPhoneDetailByAcc</description>
        <name>updateOppMobileAndPhoneDetailByAcc</name>
        <label>updateOppMobileAndPhoneDetailByAcc</label>
        <locationX>50</locationX>
        <locationY>1967</locationY>
        <connector>
            <targetReference>Decision_if_Opp_has_Prod</targetReference>
        </connector>
        <inputAssignments>
            <field>Seller_Mobile_Ph__c</field>
            <value>
                <elementReference>$Record.Product__r.Account__r.Primary_Contact__r.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seller_Phone_Ph__c</field>
            <value>
                <elementReference>$Record.Product__r.Account__r.Primary_Contact__r.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>updateOppMobileAndPhoneDetailByLeadOwner</description>
        <name>updateOppMobileAndPhoneDetailByLeadOwner</name>
        <label>updateOppMobileAndPhoneDetailByLeadOwner</label>
        <locationX>314</locationX>
        <locationY>1967</locationY>
        <connector>
            <targetReference>Decision_if_Opp_has_Prod</targetReference>
        </connector>
        <inputAssignments>
            <field>Seller_Mobile_Ph__c</field>
            <value>
                <elementReference>$Record.Product__r.Lead_Unit_Owner__r.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Seller_Phone_Ph__c</field>
            <value>
                <elementReference>$Record.Product__r.Lead_Unit_Owner__r.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getUserShellyMurphy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
