force-app/main/default/flows/Opportunity_On_Opportunity_Stage_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Procurement_Offer_Accepted_send_Email_to_Seller_primary_contact</name>
        <label>Procurement Offer Accepted send Email to Seller primary contact</label>
        <locationX>3812</locationX>
        <locationY>1775</locationY>
        <actionName>Opportunity.Procurement_Offer_Accepted_send_Email_to_Seller_primary_contact</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_for_Office_manager4</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Buyer_contact</name>
        <label>Send Email to Buyer contact</label>
        <locationX>666</locationX>
        <locationY>1895</locationY>
        <actionName>Opportunity.Opportunity_Pro_Forma_Signed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Task_For_InsideCentral_User</name>
        <label>Copy 1 of Task For Inside_Central User</label>
        <locationX>3812</locationX>
        <locationY>3575</locationY>
        <assignmentItems>
            <assignToReference>NewTask5.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask5.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update sell pricing based on final purchase price</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask5.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask5.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask5.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask5.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inside_Central_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask5.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask5.ZID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_VA_User4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Task_For_Office_Manager</name>
        <label>Copy 1 of Task For Office Manager</label>
        <locationX>1546</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>NewTask1.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Brokerage Opportunity won, pay the seller.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_User_Office_Manager.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Task_For_Office_Manager2</name>
        <label>Copy 1 of Task For Office Manager2</label>
        <locationX>3812</locationX>
        <locationY>2231</locationY>
        <assignmentItems>
            <assignToReference>NewTask8.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>After5Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask8.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Determine if/when the machine needs to moved, or how long it can be stored at current location.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask8.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask8.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Transportation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask8.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask8.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_User_Office_Manager.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask8.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask8</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_VA_User3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Task_For_VA</name>
        <label>Copy 1 of Task For VA</label>
        <locationX>5198</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>NewTask1.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>After3Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Post on MT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_opportunity_Market_on_CL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Task_For_VA_to_market_on_iron_connect</name>
        <label>Task For VA</label>
        <locationX>5066</locationX>
        <locationY>1775</locationY>
        <assignmentItems>
            <assignToReference>NewTask1.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Check opp to see if ADVERTISED. Send Advertised email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_opportunity_Market_on_MT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Task_For_VA_User</name>
        <label>Copy 1 of Task For VA User</label>
        <locationX>3658</locationX>
        <locationY>4151</locationY>
        <assignmentItems>
            <assignToReference>NewTask7.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask7.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send matching email.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask7.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask7.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask7.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask7.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask7.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask7</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_For_Opportunity_Owner_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>2118</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>CurrentOpportunityRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOpportunityRecord.ForecastCategoryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Omitted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Unit_Owner_opportunity_record_type_Buyer_Sell</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Update_Unit_isActive</name>
        <label>Copy 1 of Update Unit isActive</label>
        <locationX>7310</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>OpportunityrelatedUnit.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_VA_User9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Task_For_Office_Manager2</name>
        <label>Copy 2 of Task For Office Manager2</label>
        <locationX>5946</locationX>
        <locationY>1775</locationY>
        <assignmentItems>
            <assignToReference>NewTask1.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Zadoon&apos;s final purchase price to purchase amount (see wire). </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_User_Office_Manager.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Task_For_Office_Manager2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Task_For_VA</name>
        <label>Copy 2 of Task For VA</label>
        <locationX>5198</locationX>
        <locationY>2447</locationY>
        <assignmentItems>
            <assignToReference>NewTask3.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask3.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Post on CL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask3.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask3.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask3.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask3.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask3.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_opportunity_Market_on_FB</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Task_For_VA_to_market_on_iron_connect</name>
        <label>Task For VA</label>
        <locationX>5330</locationX>
        <locationY>1775</locationY>
        <assignmentItems>
            <assignToReference>NewTask1.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Unadvertised Email.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_opportunity_Market_on_MT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Task_For_Office_Manager2</name>
        <label>Copy 3 of Task For Office Manager2</label>
        <locationX>5946</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>NewTask2.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Obtain a full set of marketing photos and videos </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_User_Office_Manager.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_opportunity_unit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Task_For_VA</name>
        <label>Copy 4 of Task For VA</label>
        <locationX>7178</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>NewTask1.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unlist unit from all forms of marketing.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Administration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Task_For_Opportunity_Owner</name>
        <label>Create New Task For Opportunity Owner</label>
        <locationX>182</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>NewTask1.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send buyer agreement via HelloSign.  Create tasks to follow up if no response.  Update Buyer Agreement Status field to &quot;Sent&quot;; change to &quot;Completed&quot; once signed. Leave task open until signature completed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Administration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_unit_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Task_For_Opportunity_Unit_Owner</name>
        <label>Create New Task For Opportunity Unit Owner</label>
        <locationX>50</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>NewTask2.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send buyer agreement via HelloSign.  Create tasks to follow up if no response.  Update Buyer Agreement Status field to &quot;Sent&quot;; change to &quot;Completed&quot; once signed. Leave task open until signature completed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__r.Unit_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_task_for_Va_User</name>
        <label>Create task for VA User</label>
        <locationX>5198</locationX>
        <locationY>4127</locationY>
        <assignmentItems>
            <assignToReference>NewTask8.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask8.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send matching email.  This unit is in proactive brokerage; keep an eye out for Mailchimp responses.Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask8.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask8.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask8.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask8.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask8.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask8</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_For_opportunity_owner4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_For_Admin1</name>
        <label>Task For Admin1</label>
        <locationX>5198</locationX>
        <locationY>2783</locationY>
        <assignmentItems>
            <assignToReference>NewTask4.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>After1Day</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask4.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Post this unit on FB groups (at least 20)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask4.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask4.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask4.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_User_Admin_1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask4.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask4.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_opportunity_Market_on_IC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_For_Admin11</name>
        <label>Task For Admin1.</label>
        <locationX>5198</locationX>
        <locationY>3119</locationY>
        <assignmentItems>
            <assignToReference>NewTask5.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>After1Day</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask5.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Post this Unit on Iron Connect sites</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask5.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask5.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask5.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_User_Admin_1.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask5.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask5.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_opportunity_Market_on_IC1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_For_Inside_Central</name>
        <label>Task For Inside Central</label>
        <locationX>5198</locationX>
        <locationY>3455</locationY>
        <assignmentItems>
            <assignToReference>NewTask6.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask6.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send Dealer Email if Appropriate</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask6.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask6.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask6.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inside_Central_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask6.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask6.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask6</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_opportunity_Unit_Owner1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_For_Inside_West_User</name>
        <label>Task For Inside_West User</label>
        <locationX>3042</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>NewTask2.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Set competitive sell pricing based on comparable MT units.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inside_West_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_For_Office_Manager</name>
        <label>Task For Office Manager</label>
        <locationX>1106</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>NewTask1.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;Wire should be coming in for $&quot; + TEXT({!$Record.Total_Cost__c}) + &quot;. Once received, move opp to delivering (if we are doing freight) or closed won stage&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Administration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_User_Office_Manager.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_For_Office_Manager1</name>
        <label>Task For Office Manager1</label>
        <locationX>4450</locationX>
        <locationY>2015</locationY>
        <assignmentItems>
            <assignToReference>NewTask2.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confirm wire info by phone and add to BOS.  Incl year, make, model, S/N and ZID in the payment details of wire.  @Post Hardy when completed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Finance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_User_Office_Manager.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_For_Office_Manager2</name>
        <label>Task For Office Manager2</label>
        <locationX>3812</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>NewTask1.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Coordinate Inspection; update inspection section including inspection status on Opp.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_User_Office_Manager.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Task_For_Office_Manager2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_For_Opportunity</name>
        <label>Task For Opportunity</label>
        <locationX>3812</locationX>
        <locationY>2903</locationY>
        <assignmentItems>
            <assignToReference>NewTask3.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask3.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Unit Details and unit stora address on Unit record.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask3.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask3.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask3.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask3.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask3.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask3.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>https://docs.google.com/document/d/10e6rwLWyRF-ce126J0ATS1n-5tbiOYp7atqpM6xLrJ0/edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask3.ZID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_For_Unit_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_For_Opportunity_Owner</name>
        <label>Task For Opportunity Owner</label>
        <locationX>798</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>NewTask1.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send copy of signed pro forma to buyer.  </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Administration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_For_Opportunity_Owner1</name>
        <label>Task For Opportunity Owner1</label>
        <locationX>3042</locationX>
        <locationY>1775</locationY>
        <assignmentItems>
            <assignToReference>NewTask1.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>After7Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Follow up with seller to see if there has been progress.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Inside_West_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_For_opportunity_owner4</name>
        <label>Task For opportunity owner4</label>
        <locationX>5330</locationX>
        <locationY>4343</locationY>
        <assignmentItems>
            <assignToReference>NewTask9.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask9.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update sell pricing based on seller&apos;s most recent bottom price, make it extra competitive.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask9.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask9.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask9.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask9.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask9.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask9</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_for_Opportunity_Owner_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_for_Opportunity_Owner_2</name>
        <label>Task for Opportunity Owner 2</label>
        <locationX>5330</locationX>
        <locationY>4463</locationY>
        <assignmentItems>
            <assignToReference>NewTask10.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>After14Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask10.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Follow up on this proactive brokerage opp - any hits/offers?  did seller sell it?</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask10.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask10.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask10.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask10.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask10.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask10</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_opportunity_Market_on_Iron_Connect</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_For_Opportunity_Owner_User</name>
        <label>Task For Opportunity Owner User</label>
        <locationX>3944</locationX>
        <locationY>4463</locationY>
        <assignmentItems>
            <assignToReference>NewTask9.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask9.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Inspection is being schedule.  1) Speak with the inspector; 2) ensure they get appropriate pics/vids; 3) get a build sheet/service history (if dealer); and 4) ensure completed inspection report and ECU (Matris/etc.) are completed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask9.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask9.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask9.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask9.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask9.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask9</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_For_Opportunity_Owner_User1</name>
        <label>Task For Opportunity Owner User1</label>
        <locationX>4582</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>NewTask1.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Review inspection report with at least one other teammate, update confidential info notes once completed.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_For_Opportunity_Owner_User2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_For_Opportunity_Owner_User2</name>
        <label>Task For Opportunity Owner User2</label>
        <locationX>4582</locationX>
        <locationY>1775</locationY>
        <assignmentItems>
            <assignToReference>NewTask3.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask3.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get seller invoice with &quot;free and clear of liens/encumbrances&quot; verbiage and wire info</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask3.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask3.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Finance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask3.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask3.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask3.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Office_manager2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_For_opportunity_unit_owner</name>
        <label>Task For opportunity unit owner</label>
        <locationX>5198</locationX>
        <locationY>3791</locationY>
        <assignmentItems>
            <assignToReference>NewTask7.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask7.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ensure Unit Details are completed and ask for additional pictures if there are not many</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask7.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask7.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask7.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask7.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask7.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask7</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_VA_User6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_For_Unit_Owner1</name>
        <label>Task For Unit Owner</label>
        <locationX>3812</locationX>
        <locationY>3239</locationY>
        <assignmentItems>
            <assignToReference>NewTask4.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask4.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update Site Contact and address info on unit page. </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask4.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask4.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask4.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask4.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__r.Unit_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask4.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask4.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>https://docs.google.com/document/d/10e6rwLWyRF-ce126J0ATS1n-5tbiOYp7atqpM6xLrJ0/edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Check_for_Inside_Central_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_For_Unit_Owner_to_add_inspection_report</name>
        <label>Task For Unit Owner to add inspection report</label>
        <locationX>1986</locationX>
        <locationY>1775</locationY>
        <assignmentItems>
            <assignToReference>NewTask1.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opp lost, let seller know no deal, or let the unit owner know to inform the seller.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__r.Unit_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_For_VA</name>
        <label>Task For VA</label>
        <locationX>3812</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>NewTask2.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.Subject</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask2.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_opportunity_storage_address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_For_VA1</name>
        <label>Task For VA1</label>
        <locationX>6562</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>NewTask1.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unlist unit from all forms of marketing.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales Administration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_For_VA_to_add_inspection_report</name>
        <label>Task For VA to add inspection report</label>
        <locationX>2426</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>NewTask1.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Add inspection report to Google Drive and create link on Unit Page field called &quot;Inspection Report - Google Drive Link&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Operations</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_For_VA_to_market_on_iron_connect</name>
        <label>Task For VA to market on iron connect</label>
        <locationX>5418</locationX>
        <locationY>4799</locationY>
        <assignmentItems>
            <assignToReference>NewTask1.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>List this unit on iron connect</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask1.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_For_VA_User</name>
        <label>Task For VA User</label>
        <locationX>3790</locationX>
        <locationY>3911</locationY>
        <assignmentItems>
            <assignToReference>NewTask6.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask6.Subject</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask6.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask6.Task_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask6.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask6.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTask6.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewTask6</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_unit_on_opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>798</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>CurrentOpportunityRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOpportunityRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting for Buyer&apos;s Wire</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_buyer_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opportunity1</name>
        <label>Update Opportunity1</label>
        <locationX>3944</locationX>
        <locationY>4583</locationY>
        <assignmentItems>
            <assignToReference>CurrentOpportunityRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOpportunityRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Document Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_opportunity_stage_name_Reviewing</name>
        <label>Update opportunity stage name Reviewing</label>
        <locationX>2558</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>CurrentOpportunityRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOpportunityRecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reviewing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_VA_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Unit</name>
        <label>Update Unit</label>
        <locationX>5946</locationX>
        <locationY>2231</locationY>
        <assignmentItems>
            <assignToReference>OpportunityrelatedUnit.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityrelatedUnit.Account_Purchased_From_For_Inventory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product__r.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityrelatedUnit.Purchase_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityrelatedUnit.Inventory_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Owned</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Unit_isActive</name>
        <label>Update Unit isActive</label>
        <locationX>6694</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>OpportunityrelatedUnit.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_VA_User8</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_buyer_primary_contact</name>
        <label>Check For buyer primary contact</label>
        <locationX>3944</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Check_for_Office_manager4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_For_buyer_primary_contact_email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Buyer_Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Buyer_Primary_Contact__r.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Procurement_Offer_Accepted_send_Email_to_Seller_primary_contact</targetReference>
            </connector>
            <label>Check For buyer primary contact email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_foreCaste_Category</name>
        <label>Check for foreCaste Category</label>
        <locationX>3174</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Check_for_Inside_West_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_foreCaste_Category1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ForecastCategory</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Omitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ForecastCategory</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_For_Opportunity_Owner1</targetReference>
            </connector>
            <label>Check for foreCaste Category1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Inside_West_User</name>
        <label>Check for Inside_West User</label>
        <locationX>3174</locationX>
        <locationY>1991</locationY>
        <defaultConnector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Inside_West_User1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inside_West_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Starting_Advertised_Retail_Price__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_For_Inside_West_User</targetReference>
            </connector>
            <label>Check for Inside_West User1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Lst_of_Task</name>
        <label>Check For Lst of Task</label>
        <locationX>4065</locationX>
        <locationY>5111</locationY>
        <defaultConnector>
            <targetReference>Update_Unit_Related_to_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_For_Lst_of_Task1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListOfTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Lsit</targetReference>
            </connector>
            <label>Check For Lst of Task1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Office_manager</name>
        <label>Check for Office manager</label>
        <locationX>1238</locationX>
        <locationY>1535</locationY>
        <defaultConnector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Office_manager1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_User_Office_Manager</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_For_Office_Manager</targetReference>
            </connector>
            <label>Check for Office manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Office_manager2</name>
        <label>Check for Office manager2</label>
        <locationX>4582</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Office_manager5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_User_Office_Manager</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_For_Office_Manager1</targetReference>
            </connector>
            <label>Check for Office manager5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Office_manager4</name>
        <label>Check for Office manager</label>
        <locationX>3944</locationX>
        <locationY>1991</locationY>
        <defaultConnector>
            <targetReference>Check_for_VA_User3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Office_manager3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_User_Office_Manager</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_For_Office_Manager2</targetReference>
            </connector>
            <label>Check for Office manager3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Office_Manager_USer</name>
        <label>Check For Office Manager USer</label>
        <locationX>6078</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Check_for_opportunity_unit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_For_Office_Manager_USer1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_User_Office_Manager</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Task_For_Office_Manager2</targetReference>
            </connector>
            <label>Check For Office Manager USer1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Opportunity</name>
        <label>Check For Opportunity</label>
        <locationX>5330</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Check_for_opportunity_Market_on_MT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_For_Opportunity_Mailchimp_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mailchimp_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advertised</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_User_VA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Task_For_VA_to_market_on_iron_connect</targetReference>
            </connector>
            <label>Check For Opportunity Mailchimp Email</label>
        </rules>
        <rules>
            <name>Check_For_Opportunity_Mailchimp_Email1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mailchimp_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unadvertised</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_User_VA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Task_For_VA_to_market_on_iron_connect</targetReference>
            </connector>
            <label>Check For Opportunity Mailchimp Email1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_opportunity_Market_on_CL</name>
        <label>Check for opportunity Market on CL</label>
        <locationX>5330</locationX>
        <locationY>2327</locationY>
        <defaultConnector>
            <targetReference>Check_for_opportunity_Market_on_FB</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Market_on_CL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_User_VA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Market_on_CL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Task_For_VA</targetReference>
            </connector>
            <label>Market on CL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_opportunity_Market_on_FB</name>
        <label>Check for opportunity Market on FB</label>
        <locationX>5330</locationX>
        <locationY>2663</locationY>
        <defaultConnector>
            <targetReference>Check_for_opportunity_Market_on_IC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Market_on_FB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_User_Admin_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Market_on_FB__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_For_Admin1</targetReference>
            </connector>
            <label>Market on FB</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_opportunity_Market_on_IC</name>
        <label>Check for opportunity Market on IC</label>
        <locationX>5330</locationX>
        <locationY>2999</locationY>
        <defaultConnector>
            <targetReference>Check_for_opportunity_Market_on_IC1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Market_on_IC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_User_Admin_1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Market_on_IC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_For_Admin11</targetReference>
            </connector>
            <label>Copy 3 of Market on IC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_opportunity_Market_on_IC1</name>
        <label>Check for opportunity Market on IC1</label>
        <locationX>5330</locationX>
        <locationY>3335</locationY>
        <defaultConnector>
            <targetReference>Check_for_opportunity_Unit_Owner1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Market_on_IC1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_User_VA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Market_on_IC__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_For_Inside_Central</targetReference>
            </connector>
            <label>Market on IC1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_opportunity_Market_on_Iron_Connect</name>
        <label>Check for opportunity Market on Iron Connect</label>
        <locationX>5550</locationX>
        <locationY>4679</locationY>
        <defaultConnector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_opportunity_Market_on_Iron_Connect1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marketed_On_Iron_Connect__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_For_VA_to_market_on_iron_connect</targetReference>
            </connector>
            <label>Check for opportunity Market on Iron Connect1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_opportunity_Market_on_MT</name>
        <label>Check for opportunity Market on MT</label>
        <locationX>5330</locationX>
        <locationY>1991</locationY>
        <defaultConnector>
            <targetReference>Check_for_opportunity_Market_on_CL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Market_on_MT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_User_VA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Market_on_MT__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Task_For_VA</targetReference>
            </connector>
            <label>Market on MT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_opportunity_Record</name>
        <label>Check for opportunity Record</label>
        <locationX>4065</locationX>
        <locationY>5783</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_opportunity_Record1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentOpportunityRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_1</targetReference>
            </connector>
            <label>Check for opportunity Record1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Opportunity_Record_type</name>
        <label>Check For Opportunity Record type</label>
        <locationX>2712</locationX>
        <locationY>1535</locationY>
        <defaultConnector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_For_Opportunity_Record_type_equal_Procurement_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_procurement_Opportunity_record_type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_opportunity_stage_name_Reviewing</targetReference>
            </connector>
            <label>Check For Opportunity Record type equal Procurement Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Opportunity_Record_type1</name>
        <label>Check For Opportunity Record type</label>
        <locationX>3328</locationX>
        <locationY>1535</locationY>
        <defaultConnector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_For_Opportunity_Record_type_equal_Procurement_Opp1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_procurement_Opportunity_record_type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_foreCaste_Category</targetReference>
            </connector>
            <label>Check For Opportunity Record type equal Procurement Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Opportunity_Record_type2</name>
        <label>Check For Opportunity Record type2</label>
        <locationX>4109</locationX>
        <locationY>1535</locationY>
        <defaultConnector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_For_Opportunity_Record_type_equal_Procurement_Opp2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_procurement_Opportunity_record_type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_For_buyer_primary_contact</targetReference>
            </connector>
            <label>Check For Opportunity Record type equal Procurement Opp</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Opportunity_Record_type3</name>
        <label>Check For Opportunity Record type3</label>
        <locationX>4736</locationX>
        <locationY>1535</locationY>
        <defaultConnector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_For_Opportunity_Record_type_equal_Procurement_Opp3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_procurement_Opportunity_record_type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_For_Opportunity_Owner_User1</targetReference>
            </connector>
            <label>Check For Opportunity Record type equal Procurement Opp3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_opportunity_stage</name>
        <label>Check For opportunity stage</label>
        <locationX>4065</locationX>
        <locationY>1415</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_For_opportunity_stage_equal_Client_Inspection_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Inspection Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_unit_inventory_status</targetReference>
            </connector>
            <label>Check For opportunity stage equal Client Inspection Requested</label>
        </rules>
        <rules>
            <name>Check_For_opportunity_stage_equal_Pro_Forma_Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pro Forma Signed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_For_Opportunity_Owner</targetReference>
            </connector>
            <label>Check For opportunity stage equal Pro Forma Signed</label>
        </rules>
        <rules>
            <name>Check_For_opportunity_stage_equal_Waiting_for_Buyer_s_Wire</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Buyer&apos;s Wire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Office_manager</targetReference>
            </connector>
            <label>Check For opportunity stage equal Waiting for Buyer&apos;s Wire</label>
        </rules>
        <rules>
            <name>Check_For_opportunity_stage_equal_Received_Buyers_Wire</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received Buyers Wire</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Check_for_Office_manager</targetReference>
            </connector>
            <label>Check For opportunity stage equal Received Buyers Wire</label>
        </rules>
        <rules>
            <name>Check_For_opportunity_stage_equal_Closed_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Opportunity</targetReference>
            </connector>
            <label>Check For opportunity stage equal Closed Lost</label>
        </rules>
        <rules>
            <name>Check_For_opportunity_stage_equal_Initializing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initializing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_For_Opportunity_Record_type</targetReference>
            </connector>
            <label>Check For opportunity stage equal Initializing</label>
        </rules>
        <rules>
            <name>Check_For_opportunity_stage_equal_Offer_Made</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offer Made</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_For_Opportunity_Record_type1</targetReference>
            </connector>
            <label>Check For opportunity stage equal Offer Made</label>
        </rules>
        <rules>
            <name>Check_For_opportunity_stage_equal_Offer_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Offer Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_For_Opportunity_Record_type2</targetReference>
            </connector>
            <label>Check For opportunity stage equal Offer Accepted</label>
        </rules>
        <rules>
            <name>Check_For_opportunity_stage_equal_Wire_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wire Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_For_Opportunity_Record_type3</targetReference>
            </connector>
            <label>Check For opportunity stage equal Wire Pending</label>
        </rules>
        <rules>
            <name>Check_For_opportunity_stage_equal_Proactive_Brokerage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proactive Brokerage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_the_opportunity</targetReference>
            </connector>
            <label>Check For opportunity stage equal Proactive Brokerage</label>
        </rules>
        <rules>
            <name>Check_For_opportunity_stage_equal_Won_Purchased</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Won - Purchased</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_for_the_opportunity</targetReference>
            </connector>
            <label>Check For opportunity stage equal Won - Purchased</label>
        </rules>
        <rules>
            <name>Check_For_opportunity_stage_equal_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_the_opportunity_recordType</targetReference>
            </connector>
            <label>Check For opportunity stage equal Rejected</label>
        </rules>
        <rules>
            <name>Check_For_opportunity_stage_equal_Stopped_Pursuing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stopped Pursuing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_the_opportunity_recordType1</targetReference>
            </connector>
            <label>Check For opportunity stage equal Stopped Pursuing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_opportunity_stagename_change</name>
        <label>Check for opportunity stagename change</label>
        <locationX>6061</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_opportunity_stagename_change1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_User_VA</targetReference>
            </connector>
            <label>Check for opportunity stagename change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_opportunity_storage_address</name>
        <label>Check for opportunity storage address</label>
        <locationX>3944</locationX>
        <locationY>2783</locationY>
        <defaultConnector>
            <targetReference>Task_For_Unit_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_opportunity_storage_address1</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__r.Storage_City__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__r.Storage_State__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__r.Storage_Address__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_For_Opportunity</targetReference>
            </connector>
            <label>Check for opportunity storage address1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_opportunity_unit</name>
        <label>Check for opportunity unit</label>
        <locationX>6078</locationX>
        <locationY>2111</locationY>
        <defaultConnector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_opportunity_unit1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Unit</targetReference>
            </connector>
            <label>Check for opportunity unit1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_opportunity_Unit_Owner1</name>
        <label>Check for opportunity Unit Owner1</label>
        <locationX>5330</locationX>
        <locationY>3671</locationY>
        <defaultConnector>
            <targetReference>Check_for_VA_User6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>opportunity_Unit_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__r.Unit_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_For_opportunity_unit_owner</targetReference>
            </connector>
            <label>opportunity Unit Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_the_opportunity</name>
        <label>Check for the opportunity</label>
        <locationX>5550</locationX>
        <locationY>1535</locationY>
        <defaultConnector>
            <targetReference>Check_for_opportunity_Market_on_Iron_Connect</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_opportunity_Record_Type4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_procurement_Opportunity_record_type.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manufacturer Dealer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equipment Seller</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>End User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_For_Opportunity</targetReference>
            </connector>
            <label>Check for opportunity Record Type4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_the_opportunity_recordType</name>
        <label>Check for the opportunity recordType</label>
        <locationX>6848</locationX>
        <locationY>1535</locationY>
        <defaultConnector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_opportunity_Record_Type5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_procurement_Opportunity_record_type.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deactivate_Unit_after_Lost_Opp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Unit_isActive</targetReference>
            </connector>
            <label>Check for opportunity Record Type5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_the_opportunity_recordType1</name>
        <label>Check for the opportunity recordType1</label>
        <locationX>7464</locationX>
        <locationY>1535</locationY>
        <defaultConnector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_opportunity_Record_Type6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_procurement_Opportunity_record_type.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deactivate_Unit_after_Lost_Opp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Unit_isActive</targetReference>
            </connector>
            <label>Check for opportunity Record Type6</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_unit_inventory_status</name>
        <label>Check for unit inventory status</label>
        <locationX>336</locationX>
        <locationY>1535</locationY>
        <defaultConnector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_unit_inventory_status_Brokerage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__r.Inventory_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Brokerage</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Task_For_Opportunity_Owner</targetReference>
            </connector>
            <label>Check for unit inventory status &quot;Brokerage&quot;</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_unit_on_opportunity</name>
        <label>Check for unit on opportunity</label>
        <locationX>3790</locationX>
        <locationY>4031</locationY>
        <defaultConnector>
            <targetReference>Task_For_Opportunity_Owner_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_unit_on_opportunity1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Task_For_VA_User</targetReference>
            </connector>
            <label>Check for unit on opportunity1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_unit_Owner</name>
        <label>Check for Unit Owner</label>
        <locationX>182</locationX>
        <locationY>1775</locationY>
        <defaultConnector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Opportunity_Unit_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__r.Unit_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Task_For_Opportunity_Unit_Owner</targetReference>
            </connector>
            <label>Check for Opportunity Unit Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Unit_Owner_opportunity_record_type_Buyer_Sell</name>
        <label>Check for Unit Owner opportunity record type Buyer Sell</label>
        <locationX>2118</locationX>
        <locationY>1655</locationY>
        <defaultConnector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Check_for_opportunity_record_type_Buyer_Sell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_Broker_sell_record_type_related_to_opp.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__r.Unit_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_For_Unit_Owner_to_add_inspection_report</targetReference>
            </connector>
            <label>Copy 1 of Check for opportunity record type Buyer Sell</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_VA_User</name>
        <label>Check for VA User</label>
        <locationX>2558</locationX>
        <locationY>1775</locationY>
        <defaultConnector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_VA_User1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_User_VA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_For_VA_to_add_inspection_report</targetReference>
            </connector>
            <label>Check for VA User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_VA_User3</name>
        <label>Check for VA User3</label>
        <locationX>3944</locationX>
        <locationY>2447</locationY>
        <defaultConnector>
            <targetReference>Check_for_opportunity_storage_address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_VA_User2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_User_VA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__r.Equipment_Specalog__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_For_VA</targetReference>
            </connector>
            <label>Check for VA User2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_VA_User4</name>
        <label>Check for VA User4</label>
        <locationX>3944</locationX>
        <locationY>3791</locationY>
        <defaultConnector>
            <targetReference>Task_For_Opportunity_Owner_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_VA_User5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_User_VA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_For_VA_User</targetReference>
            </connector>
            <label>Check for VA User5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_VA_User6</name>
        <label>Check for VA User6</label>
        <locationX>5330</locationX>
        <locationY>4007</locationY>
        <defaultConnector>
            <targetReference>Task_For_opportunity_owner4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_VA_User7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_User_VA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_task_for_Va_User</targetReference>
            </connector>
            <label>Check for VA User7</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_VA_User8</name>
        <label>Check for VA User8</label>
        <locationX>6694</locationX>
        <locationY>1775</locationY>
        <defaultConnector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Check_for_VA_User7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_User_VA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_For_VA1</targetReference>
            </connector>
            <label>Copy 1 of Check for VA User7</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_VA_User9</name>
        <label>Check for VA User9</label>
        <locationX>7310</locationX>
        <locationY>1775</locationY>
        <defaultConnector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Check_for_VA_User7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_User_VA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Task_For_VA</targetReference>
            </connector>
            <label>Copy 2 of Check for VA User7</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_buyer_contact</name>
        <label>Check the buyer contact</label>
        <locationX>798</locationX>
        <locationY>1775</locationY>
        <defaultConnector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_the_buyer_contact1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Buyer_Contact_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Buyer_contact</targetReference>
            </connector>
            <label>Check the buyer contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_for_Inside_Central_User</name>
        <label>Copy 1 of Check for Inside_Central User</label>
        <locationX>3944</locationX>
        <locationY>3455</locationY>
        <defaultConnector>
            <targetReference>Check_for_VA_User4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_Inside_Central_User2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inside_Central_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__r.Starting_Advertised_Retail_Price__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Task_For_InsideCentral_User</targetReference>
            </connector>
            <label>Check for Inside_Central User2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_for_the_opportunity</name>
        <label>Copy 1 of Check for the opportunity</label>
        <locationX>6232</locationX>
        <locationY>1535</locationY>
        <defaultConnector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Check_for_opportunity_Record_Type4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_procurement_Opportunity_record_type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_For_Office_Manager_USer</targetReference>
            </connector>
            <label>Copy 1 of Check for opportunity Record Type4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Check_for_Office_manager</name>
        <label>Copy 2 of Check for Office manager</label>
        <locationX>1678</locationX>
        <locationY>1535</locationY>
        <defaultConnector>
            <targetReference>Check_For_Lst_of_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_opportunity_record_type_Buyer_Sell</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>get_Broker_sell_record_type_related_to_opp.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_User_Office_Manager</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Task_For_Office_Manager</targetReference>
            </connector>
            <label>Check for opportunity record type Buyer Sell</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_For_Unit_Owner</name>
        <label>Task For Unit Owner</label>
        <locationX>3944</locationX>
        <locationY>3119</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Check_for_Inside_Central_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_For_Unit_Owner_if_site_contact_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__r.Site_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_For_Unit_Owner1</targetReference>
            </connector>
            <label>Task For Unit Owner if site contact is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Unit_Related_to_Opportunity</name>
        <label>Update Unit Related to Opportunity</label>
        <locationX>4065</locationX>
        <locationY>5447</locationY>
        <defaultConnector>
            <targetReference>Check_for_opportunity_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Unit_Related_to_Opportunity1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityrelatedUnit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Unit1</targetReference>
            </connector>
            <label>Update Unit Related to Opportunity1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>After14Days</description>
        <name>After14Days</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 14</expression>
    </formulas>
    <formulas>
        <description>After1Day</description>
        <name>After1Day</name>
        <dataType>Date</dataType>
        <expression>TODAY()+1</expression>
    </formulas>
    <formulas>
        <description>After3Days</description>
        <name>After3Days</name>
        <dataType>Date</dataType>
        <expression>TODAY()+3</expression>
    </formulas>
    <formulas>
        <name>After5Days</name>
        <dataType>Date</dataType>
        <expression>TODAY()+5</expression>
    </formulas>
    <formulas>
        <description>After7Days</description>
        <name>After7Days</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <formulas>
        <description>emailsearchtasksubject</description>
        <name>emailsearchtasksubject</name>
        <dataType>String</dataType>
        <expression>&apos;Look for WTB: &apos; + {!$Record.WTB_Parameters__c}</expression>
    </formulas>
    <formulas>
        <description>FB_LI_Day_1_Next_Month_Due_Date</description>
        <name>FB_LI_Day_1_Next_Month_Due_Date</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()),MONTH(TODAY())+1, 1)</expression>
    </formulas>
    <formulas>
        <description>OpportunityName</description>
        <name>OpportunityName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Year_from_Unit__c} + &apos; &apos; + {!$Record.Model_from_Unit__c} + &apos; &apos; + {!$Record.Account.Name} + &apos; &apos; + {!$Record.Product__c}</expression>
    </formulas>
    <formulas>
        <description>today</description>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <description>WaitingForBuyerWireTaskSubject</description>
        <name>WaitingForBuyerWireTaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Wire should be coming in for $&quot; + TEXT({!$Record.Total_Cost__c}) + &quot;. Once received, move opp to delivering (if we are doing freight) or closed won stage&quot;</expression>
    </formulas>
    <interviewLabel>Opportunity - On Opportunity Stage update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - On Opportunity Stage update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Lsit</name>
        <label>Insert Lsit</label>
        <locationX>3933</locationX>
        <locationY>5231</locationY>
        <connector>
            <targetReference>Update_Unit_Related_to_Opportunity</targetReference>
        </connector>
        <inputReference>ListOfTask</inputReference>
    </recordCreates>
    <recordLookups>
        <description>get_Broker_sell_record_type_related_to_opp</description>
        <name>get_Broker_sell_record_type_related_to_opp</name>
        <label>get Broker sell record type related to opp</label>
        <locationX>4065</locationX>
        <locationY>1175</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Inventory_sell_record_type_related_to_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Opp_Rec_Type_Broker_Sell</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inside_Central_User</name>
        <label>Get Inside Central User</label>
        <locationX>4065</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_procurement_Opportunity_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Inside_Central</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inside_West_User</name>
        <label>Get Inside_West User</label>
        <locationX>4065</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Inside_Central_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Inside_West</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get_Inventory_sell_record_type_related_to_opp</description>
        <name>get_Inventory_sell_record_type_related_to_opp</name>
        <label>get Inventory sell record type related to opp</label>
        <locationX>4065</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_opportunity_stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Opp_Rec_Type_Inventory_Sell</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get_procurement_Opportunity_record_type</description>
        <name>get_procurement_Opportunity_record_type</name>
        <label>get procurement Opportunity record type</label>
        <locationX>4065</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Broker_sell_record_type_related_to_opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Opp_Rec_type_Dev_Name_procurement_opp</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get_User_Admin_1</description>
        <name>get_User_Admin_1</name>
        <label>get User Admin 1</label>
        <locationX>4065</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Inside_West_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Admin1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get_User_Office_Manager</description>
        <name>get_User_Office_Manager</name>
        <label>get User Office Manager</label>
        <locationX>4065</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_User_Admin_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Office_Manager</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get_User_VA</description>
        <name>get_User_VA</name>
        <label>get User VA</label>
        <locationX>4065</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_User_Office_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.VA</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_1</name>
        <label>Update Opportunity 1</label>
        <locationX>3933</locationX>
        <locationY>5903</locationY>
        <inputReference>CurrentOpportunityRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unit1</name>
        <label>Update Unit1</label>
        <locationX>3933</locationX>
        <locationY>5567</locationY>
        <connector>
            <targetReference>Check_for_opportunity_Record</targetReference>
        </connector>
        <inputReference>OpportunityrelatedUnit</inputReference>
    </recordUpdates>
    <start>
        <locationX>5935</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_opportunity_stagename_change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentOpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ListOfTask</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>NewTask1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>NewTask10</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>NewTask11</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>NewTask2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>NewTask3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>NewTask4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>NewTask5</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>NewTask6</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>NewTask7</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>NewTask8</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>NewTask9</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>OpportunityrelatedUnit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product2</objectType>
    </variables>
</Flow>
