force-app/main/default/flows/RentalOpportunityFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Assign_Rental_Status_to_Not_Ready</description>
        <name>Assign_Rental_Status_to_Not_Ready</name>
        <label>Assign Rental Status to Not Ready</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Rental_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Ready</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assign_Rental_Status_to_Ready</description>
        <name>Assign_Rental_Status_to_Ready</name>
        <label>Assign Rental Status to Ready</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Rental_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assign_Rental_Status_to_Rental</description>
        <name>Assign_Rental_Status_to_Rental</name>
        <label>Assign Rental Status to Rental</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Rental_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rented</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Update_the_rental_Status</name>
        <label>Update the rental Status</label>
        <locationX>446</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_as_Ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Insurance_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Opp_Rec_type_Rental_by_ID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Insurance_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rental_Agreement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GPS_Tracker_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Installed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Initial_Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rental_Status_to_Ready</targetReference>
            </connector>
            <label>Update as Ready</label>
        </rules>
        <rules>
            <name>Update_as_Rented</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Delivery_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dropped Off</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Rental_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Opp_Rec_type_Rental_by_ID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rental_Status_to_Rental</targetReference>
            </connector>
            <label>Update as Rented</label>
        </rules>
        <rules>
            <name>rentalDefault</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Opp_Rec_type_Rental_by_ID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Rental_Status_to_Not_Ready</targetReference>
            </connector>
            <label>rentalDefault</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>RentalOpportunityFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RentalOpportunityFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_the_rental_Status</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 AND 2 AND 3 AND 4) OR (5 AND 6)</filterLogic>
        <filters>
            <field>Insurance_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </filters>
        <filters>
            <field>Rental_Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </filters>
        <filters>
            <field>GPS_Tracker_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Installed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Initial_Payment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Received</stringValue>
            </value>
        </filters>
        <filters>
            <field>Delivery_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dropped Off</stringValue>
            </value>
        </filters>
        <filters>
            <field>Rental_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
