force-app/main/default/flows/Unit_Unit_Autotasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Advertised_Retail_Price_is_Changed</description>
        <name>Advertised_Retail_Price_is_Changed</name>
        <label>Advertised Retail Price is Changed</label>
        <locationX>336</locationX>
        <locationY>3623</locationY>
        <defaultConnector>
            <targetReference>SendMatchingEmailifPriceChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>change_in_advertise_RP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Starting_Advertised_Retail_Price__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Starting_Advertised_Retail_Price__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Starting_Advertised_Retail_Price__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Do_not_market_unit_anywhere__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Starting_Advertised_Retail_Price__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Starting_Advertised_Retail_Price__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Price_Drop_MC_Email_update_MT_CG_IC_Prices</targetReference>
            </connector>
            <label>change in advertise RP</label>
        </rules>
    </decisions>
    <decisions>
        <description>decision_if_120_days_since_checked</description>
        <name>decision_if_120_days_since_checked</name>
        <label>decision if 120 days since checked</label>
        <locationX>336</locationX>
        <locationY>6383</locationY>
        <defaultConnector>
            <targetReference>decision_if_Craigslist_Refresh</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X120_days_since_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zadoon, LLC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_Confirmation_Age__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>120.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_availability_Task</targetReference>
            </connector>
            <label>120 days since checked</label>
        </rules>
    </decisions>
    <decisions>
        <description>decision_if_any_Closed_Opp_for_this_Unit_exists</description>
        <name>decision_if_any_Closed_Opp_for_this_Unit_exists</name>
        <label>decision if any Closed Opp for this Unit exists</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Unit_not_owned_not_potential_trade_Task_for_unit_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Opp_related_to_this_Unit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Commission_URT_based_on_Final_Sale_Price</targetReference>
            </connector>
            <label>Opp exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>decision_if_Craigslist_Refresh</description>
        <name>decision_if_Craigslist_Refresh</name>
        <label>decision if Craigslist Refresh</label>
        <locationX>336</locationX>
        <locationY>6719</locationY>
        <defaultConnector>
            <targetReference>decision_if_Owned_Unit_Price_Drop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Craigslist_Refresh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CL_Post_Age__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Craigslist_Live_Listing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Renew_CL_Listing_Task</targetReference>
            </connector>
            <label>Craigslist Refresh</label>
        </rules>
    </decisions>
    <decisions>
        <description>decision_if_Owned_Unit_Price_Drop</description>
        <name>decision_if_Owned_Unit_Price_Drop</name>
        <label>decision if Owned Unit Price Drop</label>
        <locationX>336</locationX>
        <locationY>7055</locationY>
        <defaultConnector>
            <targetReference>decision_if_partner_address_changed_to_MD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OwnedUnitPriceDrop</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_Purchase_Age__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_Purchase_Age__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_Purchase_Age__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_Purchase_Age__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>90.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_Purchase_Age__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>120.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_Purchase_Age__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>150.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_Purchase_Age__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>180.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owned_Unit_Price_Drop_Task</targetReference>
            </connector>
            <label>Owned Unit Price Drop</label>
        </rules>
    </decisions>
    <decisions>
        <description>decision_if_partner_address_changed_to_MD</description>
        <name>decision_if_partner_address_changed_to_MD</name>
        <label>decision if partner address changed to MD</label>
        <locationX>336</locationX>
        <locationY>7391</locationY>
        <defaultConnector>
            <targetReference>Yard_Address_Changed_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Partner_address_changed_to_MD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.On_Zadoon_partner_yard__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crofton, MD (Z Yard)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.On_Zadoon_partner_yard__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Storage_Address_to_MD</targetReference>
            </connector>
            <label>Partner address changed to MD</label>
        </rules>
    </decisions>
    <decisions>
        <description>decision_if_Unit_Goes_To_Owned</description>
        <name>decision_if_Unit_Goes_To_Owned</name>
        <label>decision if Unit Goes To Owned</label>
        <locationX>336</locationX>
        <locationY>4631</locationY>
        <defaultConnector>
            <targetReference>decision_if_Unit_Goes_To_Owned_Unit_Hour_and_Age</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unit_Goes_To_Owned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Inventory_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Owned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Inventory_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Set_Sell_Pricing_Task</targetReference>
            </connector>
            <label>Unit Goes To Owned</label>
        </rules>
    </decisions>
    <decisions>
        <description>decision_if_Unit_Goes_To_Owned_Unit_Hour_and_Age</description>
        <name>decision_if_Unit_Goes_To_Owned_Unit_Hour_and_Age</name>
        <label>decision if Unit Goes To Owned Unit Hour and Age</label>
        <locationX>336</locationX>
        <locationY>6047</locationY>
        <defaultConnector>
            <targetReference>decision_if_120_days_since_checked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unit_Goes_To_Owned_Hours_less_than_5k_and_age_less_than_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Inventory_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Owned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Inventory_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hour__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CL_Post_Age__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_SF_Dealer_Email_Task</targetReference>
            </connector>
            <label>Unit Goes To Owned Hours less than 5k and age less than 7</label>
        </rules>
    </decisions>
    <decisions>
        <description>decision_if_unit_is_deactivated</description>
        <name>decision_if_unit_is_deactivated</name>
        <label>decision if unit is deactivated</label>
        <locationX>336</locationX>
        <locationY>8183</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>unit_is_deactivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sold_deactivated_date_update</targetReference>
            </connector>
            <label>unit is deactivated</label>
        </rules>
    </decisions>
    <decisions>
        <description>decision_to_check_if_year_is_changed</description>
        <name>decision_to_check_if_year_is_changed</name>
        <label>decision to check if year is changed</label>
        <locationX>336</locationX>
        <locationY>4295</locationY>
        <defaultConnector>
            <targetReference>decision_if_Unit_Goes_To_Owned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>year_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Year__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Year__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Do_not_market_unit_anywhere__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_year_on_MT_CL_IC_Task</targetReference>
            </connector>
            <label>year is changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>decision_z_partner_yard_change_to_ocala</description>
        <name>decision_z_partner_yard_change_to_ocala</name>
        <label>decision z partner yard change to ocala</label>
        <locationX>336</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Unit_not_owned_not_potential_trade_Task_for_unit_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Location_Changed_to_Ocala</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.On_Zadoon_partner_yard__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ocala, FL (Boring &amp; Assoc)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.On_Zadoon_partner_yard__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_for_Creating_Commission_URT</targetReference>
            </connector>
            <label>Location Changed to Ocala</label>
        </rules>
    </decisions>
    <decisions>
        <description>decisionForLocationChange</description>
        <name>decisionForLocationChange</name>
        <label>decisionForLocationChange</label>
        <locationX>336</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Unit_Details_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LocationChanged</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Do_not_market_unit_anywhere__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Storage_City__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Storage_State__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_Location_MC_CL_and_IC_Task</targetReference>
            </connector>
            <label>LocationChanged</label>
        </rules>
    </decisions>
    <decisions>
        <description>Number_of_Photos_Change</description>
        <name>Number_of_Photos_Change</name>
        <label>Decision if Number of Photos is Changed</label>
        <locationX>336</locationX>
        <locationY>3287</locationY>
        <defaultConnector>
            <targetReference>Advertised_Retail_Price_is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>number_of_photos_is_changed</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6 OR 7 OR 8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Images_in_Google_Drive__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Images_in_Google_Drive__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Do_not_market_unit_anywhere__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Inventory_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Owned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketed_on_MT_incl_Crane_Trk__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Craigslist_Live_Listing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Client_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>End User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MT_Live_Listing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_of_Photos_on_GD_Changed</targetReference>
            </connector>
            <label>number of photos is changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Send Matching Email if Price Changed</description>
        <name>SendMatchingEmailifPriceChanged</name>
        <label>Send Matching Email if Price Changed</label>
        <locationX>336</locationX>
        <locationY>3959</locationY>
        <defaultConnector>
            <targetReference>decision_to_check_if_year_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>price_changed_send_matching_mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Starting_Advertised_Retail_Price__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Starting_Advertised_Retail_Price__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Images_in_Google_Drive__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_matching_mail_via_Walkers_Acc_Task</targetReference>
            </connector>
            <label>price changed send matching mail</label>
        </rules>
    </decisions>
    <decisions>
        <description>Unit_Details_Change</description>
        <name>Unit_Details_Change</name>
        <label>Unit Details Change</label>
        <locationX>336</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>Unit_is_Inactive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>unit_details_are_changed</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Old_SF_Unit_Details__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Do_not_market_unit_anywhere__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Unit_Details</targetReference>
            </connector>
            <label>unit details are changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Unit_is_Inactive</description>
        <name>Unit_is_Inactive</name>
        <label>Unit is Inactive</label>
        <locationX>336</locationX>
        <locationY>2495</locationY>
        <defaultConnector>
            <targetReference>Unlist_Unit_Checkbox_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unit_is_not_active</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Do_not_market_unit_anywhere__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MT_Live_Listing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Inventory_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Owned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketed_on_MT_incl_Crane_Trk__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Craigslist_Live_Listing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Iron_Connect_Listing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unlist_nonactive_Unit</targetReference>
            </connector>
            <label>Unit is not active</label>
        </rules>
    </decisions>
    <decisions>
        <description>Unit_not_owned_not_potential_trade_Task_for_unit_owner</description>
        <name>Unit_not_owned_not_potential_trade_Task_for_unit_owner</name>
        <label>Unit not owned not potential trade Task for unit owner</label>
        <locationX>336</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>decisionForLocationChange</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_owned_not_potential_trade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unit_Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Potential Trade</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Display_Lowest_Purchase_Price__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_for_Unit_Owner_unit_not_owned_not_potential_trade</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Not owned not potential trade</label>
        </rules>
    </decisions>
    <decisions>
        <description>Unlist_Unit_Checkbox_True</description>
        <name>Unlist_Unit_Checkbox_True</name>
        <label>Unlist Unit Checkbox True</label>
        <locationX>336</locationX>
        <locationY>2831</locationY>
        <defaultConnector>
            <targetReference>Number_of_Photos_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unlist_Unit_checkbox_is_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unlist_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unlist_Unit__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unlisting_unit_from_all_advertising_Task</targetReference>
            </connector>
            <label>Unlist Unit checkbox is checked</label>
        </rules>
    </decisions>
    <decisions>
        <description>Yard_Address_Changed_Decision</description>
        <name>Yard_Address_Changed_Decision</name>
        <label>Yard Address Changed Decision</label>
        <locationX>336</locationX>
        <locationY>7727</locationY>
        <defaultConnector>
            <targetReference>decision_if_unit_is_deactivated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yard_Address_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.On_Zadoon_partner_yard1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Yard_on_the_Unit</targetReference>
            </connector>
            <label>Yard Address Change</label>
        </rules>
    </decisions>
    <description>Multiple tasks related to the unit are created on the basis of updates made in the Unit.</description>
    <environments>Default</environments>
    <formulas>
        <description>After3Days</description>
        <name>After3Days</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 3</expression>
    </formulas>
    <formulas>
        <description>Used to change the date to 5 days later from today.</description>
        <name>After5Days</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 5</expression>
    </formulas>
    <formulas>
        <description>After7Days</description>
        <name>After7Days</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <formulas>
        <description>Today_Date</description>
        <name>Today_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <description>UnitPurchasedDropPrice</description>
        <name>UnitPurchasedDropPrice</name>
        <dataType>String</dataType>
        <expression>&apos;Unit was purchased&apos; + TEXT({!$Record.CL_Post_Age__c}) + &apos;days ago. Drop price accordingly. If 180 days old, consider auction.&apos;</expression>
    </formulas>
    <interviewLabel>Unit - Unit Autotasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unit - Unit Autotasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Confirm_availability_Task</description>
        <name>Confirm_availability_Task</name>
        <label>Confirm availability Task</label>
        <locationX>204</locationX>
        <locationY>6503</locationY>
        <connector>
            <targetReference>decision_if_Craigslist_Refresh</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>After7Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Unit_Owner__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Confirm unit availability; see if anything else available for sale; deactivate unit if not available.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>No_of_Photos_on_GD_Changed</description>
        <name>No_of_Photos_on_GD_Changed</name>
        <label>No of Photos on GD Changed</label>
        <locationX>204</locationX>
        <locationY>3407</locationY>
        <connector>
            <targetReference>Advertised_Retail_Price_is_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Number of photos on GD changed. Plz organize pics/remove unnecessary pics, update pics on MT, IC, and CL. Task WH to update FB photos if owned.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Owned_Unit_Price_Drop_Task</description>
        <name>Owned_Unit_Price_Drop_Task</name>
        <label>Owned Unit Price Drop Task</label>
        <locationX>204</locationX>
        <locationY>7175</locationY>
        <connector>
            <targetReference>decision_if_partner_address_changed_to_MD</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_Inside_Central.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>UnitPurchasedDropPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Price_Drop_MC_Email_update_MT_CG_IC_Prices</description>
        <name>Price_Drop_MC_Email_update_MT_CG_IC_Prices</name>
        <label>Price Drop MC Email, update MT/CG/IC Prices</label>
        <locationX>204</locationX>
        <locationY>3743</locationY>
        <connector>
            <targetReference>SendMatchingEmailifPriceChanged</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>[Sandip] Create a price-drop MailChimp email. [IF MT LISTING IS ACTIVE] Update Pricing on MT to reflect Starting Advertised Retail Price. [IF CL LISTING IS ACTIVE] Update Craigslist Pricing to reflect Starting Advertised Retail Price; change CL Post date to today. [IF IC LISTING IS ACTIVE] Update Iron Connect pricing to reflect the Starting Advertised Retail Price</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Relist_Unit</description>
        <name>Relist_Unit</name>
        <label>Relist Unit</label>
        <locationX>204</locationX>
        <locationY>3071</locationY>
        <connector>
            <targetReference>Number_of_Photos_Change</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>After7Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Check with unit owner whether it is ready to be relisted. If it is, relist it and UNCHECK the Unlist checkbox.  IF it is not, ask when to relist and reassign this task for that date.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Renew_CL_Listing_Task</description>
        <name>Renew_CL_Listing_Task</name>
        <label>Renew CL Listing Task</label>
        <locationX>204</locationX>
        <locationY>6839</locationY>
        <connector>
            <targetReference>decision_if_Owned_Unit_Price_Drop</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>CL listing for this unit was added 30 days ago, please renew listing.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Send_matching_mail_via_Walkers_Acc_Task</description>
        <name>Send_matching_mail_via_Walkers_Acc_Task</name>
        <label>Send matching mail via Walkers Acc Task</label>
        <locationX>204</locationX>
        <locationY>4079</locationY>
        <connector>
            <targetReference>decision_to_check_if_year_is_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Log into Walker&apos;s SF account and send matching on this unit from there.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task_for_Creating_Commission_URT</description>
        <name>Task_for_Creating_Commission_URT</name>
        <label>Task for Creating Commission URT</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>get_Opp_related_to_this_Unit</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_Office_Manager.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Create a 2% commission URT for this Unit.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Sales Administration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task_for_Unit_Owner_unit_not_owned_not_potential_trade</description>
        <name>Task_for_Unit_Owner_unit_not_owned_not_potential_trade</name>
        <label>Task for Unit Owner unit not owned not potential trade</label>
        <locationX>204</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>decisionForLocationChange</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Unit_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Update Seller&apos;s Original Asking Price field on the Unit Page</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Finance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Unlist_nonactive_Unit</description>
        <name>Unlist_nonactive_Unit</name>
        <label>Unlist nonactive Unit</label>
        <locationX>204</locationX>
        <locationY>2615</locationY>
        <connector>
            <targetReference>Unlist_Unit_Checkbox_True</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Unit has been deactivated, unlist from MT, CL, and IC. Task BN to unlist from FB if owned. Remove from marketing sheet - ensure not listed on IronSites (check unit page links)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Unlisting_unit_from_all_advertising_Task</description>
        <name>Unlisting_unit_from_all_advertising_Task</name>
        <label>Unlisting unit from all advertising Task</label>
        <locationX>204</locationX>
        <locationY>2951</locationY>
        <connector>
            <targetReference>Relist_Unit</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Unlist unit from MT, CL, and all other iron sites. Task Collin to &quot;remove from FB if appropriate&quot; from the unit page.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Update_Commission_URT_based_on_Final_Sale_Price</description>
        <name>Update_Commission_URT_based_on_Final_Sale_Price</name>
        <label>Update Commission URT based on Final Sale Price</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Unit_not_owned_not_potential_trade_Task_for_unit_owner</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_Office_Manager.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Update the Commission URT from Final Sales Price</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Sales Administration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>update_Complete_Unit_Details_Task</description>
        <name>update_Complete_Unit_Details_Task</name>
        <label>update Complete Unit Details Task</label>
        <locationX>204</locationX>
        <locationY>5471</locationY>
        <connector>
            <targetReference>update_Serial_number_shared_available_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Unit_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Complete Unit Details - use &quot;Required information for owned units&quot; doc as reference.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>update_List_on_Iron_Connect_Task</description>
        <name>update_List_on_Iron_Connect_Task</name>
        <label>update List on Iron Connect Task</label>
        <locationX>204</locationX>
        <locationY>5831</locationY>
        <connector>
            <targetReference>decision_if_Unit_Goes_To_Owned_Unit_Hour_and_Age</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>After7Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>List this unit on IronConnect.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>update_Market_on_MT_and_Iron_Sites_Task</description>
        <name>update_Market_on_MT_and_Iron_Sites_Task</name>
        <label>update Market on MT and Iron Sites Task</label>
        <locationX>204</locationX>
        <locationY>4871</locationY>
        <connector>
            <targetReference>update_Send_first_Mailchimp_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>After7Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Ensure unit marketed on MT and spot-check other IronSites to ensure it&apos;s listed accurately</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>update_Obtain_review_organize_photos_videos_Task</description>
        <name>update_Obtain_review_organize_photos_videos_Task</name>
        <label>update Obtain, review, organize photos/videos Task</label>
        <locationX>204</locationX>
        <locationY>5351</locationY>
        <connector>
            <targetReference>update_Complete_Unit_Details_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Unit_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Ensure full set of good photos is provided via inspection or via site contact.  Remove not good/auction looking photos to Confidential Information folder.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>update_Post_on_CL_Task</description>
        <name>update_Post_on_CL_Task</name>
        <label>update Post on CL Task</label>
        <locationX>204</locationX>
        <locationY>5231</locationY>
        <connector>
            <targetReference>update_Obtain_review_organize_photos_videos_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Market on Craigslist in the  city/region where unit is located; create follow-up task for 30-days out to repost.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>update_Send_first_Mailchimp_Task</description>
        <name>update_Send_first_Mailchimp_Task</name>
        <label>update Send first Mailchimp Task</label>
        <locationX>204</locationX>
        <locationY>4991</locationY>
        <connector>
            <targetReference>update_Purchase_Date_Of_This_Unit</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Send UNADVERTISED Mailchimp to end users and equipment sellers; EXCLUDE account purchased from</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>update_Serial_number_shared_available_Task</description>
        <name>update_Serial_number_shared_available_Task</name>
        <label>update Serial number shared/available Task</label>
        <locationX>204</locationX>
        <locationY>5591</locationY>
        <connector>
            <targetReference>update_Shipping_dimensions_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Put Serial Number Photos  in Online Photos folder, and on MT.  Put full serial from the serial plate in Serial Number field on Unit Page.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Sales Administration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>update_Set_Sell_Pricing_Task</description>
        <name>update_Set_Sell_Pricing_Task</name>
        <label>update Set Sell Pricing Task</label>
        <locationX>204</locationX>
        <locationY>4751</locationY>
        <connector>
            <targetReference>update_Market_on_MT_and_Iron_Sites_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_Inside_Central.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Set sell pricing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>update_SF_Dealer_Email_Task</description>
        <name>update_SF_Dealer_Email_Task</name>
        <label>update SF Dealer Email Task</label>
        <locationX>204</locationX>
        <locationY>6167</locationY>
        <connector>
            <targetReference>decision_if_120_days_since_checked</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>After7Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_Inside_Central.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Send to dealers via SF email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>update_Shipping_dimensions_Task</description>
        <name>update_Shipping_dimensions_Task</name>
        <label>update Shipping dimensions Task</label>
        <locationX>204</locationX>
        <locationY>5711</locationY>
        <connector>
            <targetReference>update_List_on_Iron_Connect_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Obtain shipping dimensions from either inspection report or specalog.  Put in Shipping Dims field in the Freight and Transport section of Unit Page.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>update_Unit_Details</description>
        <name>update_Unit_Details</name>
        <label>update Unit Details</label>
        <locationX>204</locationX>
        <locationY>2279</locationY>
        <connector>
            <targetReference>Unit_is_Inactive</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Update unit details on MT, IC, and CL; task BN to update unit details on FB if owned unit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>update_year_on_MT_CL_IC_Task</description>
        <name>update_year_on_MT_CL_IC_Task</name>
        <label>update year on MT, CL, IC Task</label>
        <locationX>204</locationX>
        <locationY>4415</locationY>
        <connector>
            <targetReference>decision_if_Unit_Goes_To_Owned</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>The year on this unit has changed; update MT, CL, and IC (ONLY IF UNIT IS LISTED IN THOSE PLACES)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Operations</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Updating_Location_MC_CL_and_IC_Task</description>
        <name>Updating_Location_MC_CL_and_IC_Task</name>
        <label>Updating Location, MC, CL and IC Task</label>
        <locationX>204</locationX>
        <locationY>1943</locationY>
        <connector>
            <targetReference>Unit_Details_Change</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Run Vague Location task, then update storage location on MT, CL, and IC. Task BN to update FB location for owned units. [Sandip] Location on this unit was updated; make required changes to CL and update CL Post Date field. If this unit has an Iron Connect listing, please update location.  If it does not have an IC listing, please post in Team Z Group Chat and @post CM/HB/MJ to identify whether it should be posted on IC.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>get_User_VA.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Sales Administration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>get_Opp_related_to_this_Unit</description>
        <name>get_Opp_related_to_this_Unit</name>
        <label>get Opp related to this Unit</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_if_any_Closed_Opp_for_this_Unit_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ForecastCategory</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get_User_Inside_Central</description>
        <name>get_User_Inside_Central</name>
        <label>get User Inside Central</label>
        <locationX>336</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_User_Office_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Inside_Central</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get_User_Office_Manager</description>
        <name>get_User_Office_Manager</name>
        <label>get User Office Manager</label>
        <locationX>336</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decision_z_partner_yard_change_to_ocala</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Office_Manager</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get_User_VA</description>
        <name>get_User_VA</name>
        <label>get User VA</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_User_Inside_Central</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.VA</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get_Yard_on_the_Unit</description>
        <name>get_Yard_on_the_Unit</name>
        <label>get Yard on the Unit</label>
        <locationX>204</locationX>
        <locationY>7847</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_Unit_address_details_by_Yard_address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.On_Zadoon_partner_yard1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Yards__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>sold_deactivated_date_update</description>
        <name>sold_deactivated_date_update</name>
        <label>sold/deactivated date update</label>
        <locationX>204</locationX>
        <locationY>8303</locationY>
        <inputAssignments>
            <field>Sold_Deactivated_Date__c</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>update_Purchase_Date_Of_This_Unit</description>
        <name>update_Purchase_Date_Of_This_Unit</name>
        <label>update Purchase Date Of This Unit</label>
        <locationX>204</locationX>
        <locationY>5111</locationY>
        <connector>
            <targetReference>update_Post_on_CL_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Purchase_Date__c</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>update_Storage_Address_to_MD</description>
        <name>update_Storage_Address_to_MD</name>
        <label>update Storage Address to MD</label>
        <locationX>204</locationX>
        <locationY>7511</locationY>
        <connector>
            <targetReference>Yard_Address_Changed_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Storage_Address__c</field>
            <value>
                <stringValue>1268 Cronson Blvd Building E</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_City__c</field>
            <value>
                <stringValue>Crofton</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Country__c</field>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_State__c</field>
            <value>
                <stringValue>Maryland</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Zip_Code__c</field>
            <value>
                <stringValue>21114</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>update_Unit_address_details_by_Yard_address</description>
        <name>update_Unit_address_details_by_Yard_address</name>
        <label>update Unit address details by Yard address</label>
        <locationX>204</locationX>
        <locationY>7967</locationY>
        <connector>
            <targetReference>decision_if_unit_is_deactivated</targetReference>
        </connector>
        <inputAssignments>
            <field>Site_Contact__c</field>
            <value>
                <elementReference>get_Yard_on_the_Unit.Site_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Address__c</field>
            <value>
                <elementReference>get_Yard_on_the_Unit.Storage_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_City__c</field>
            <value>
                <elementReference>get_Yard_on_the_Unit.Storage_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Country__c</field>
            <value>
                <elementReference>get_Yard_on_the_Unit.Storage_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_State__c</field>
            <value>
                <elementReference>get_Yard_on_the_Unit.Storage_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Zip_Code__c</field>
            <value>
                <elementReference>get_Yard_on_the_Unit.Storage_Zip_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_User_VA</targetReference>
        </connector>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
