force-app/main/default/flows/Unit_multipleTaskCreationAndRecordUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Advertised_Retail_Price_is_Changed</description>
        <name>Advertised_Retail_Price_is_Changed</name>
        <label>Advertised Retail Price is Changed</label>
        <locationX>182</locationX>
        <locationY>2615</locationY>
        <defaultConnector>
            <targetReference>SendMatchingEmailifPriceChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>change_in_advertise_RP</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR 7 OR 8 OR 9 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Starting_Advertised_Retail_Price__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Starting_Advertised_Retail_Price__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Starting_Advertised_Retail_Price__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Do_not_market_unit_anywhere__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Inventory_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Owned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketed_on_MT_incl_Crane_Trk__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Override_Post_MT_Crane_Truck__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketed_On_Craigslist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Iron_Connect_Listing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Price_Drop_MC_Email</targetReference>
            </connector>
            <label>change in advertise RP</label>
        </rules>
    </decisions>
    <decisions>
        <description>decision_for_Freight_approval</description>
        <name>decision_for_Freight_approval</name>
        <label>decision for Freight approval</label>
        <locationX>182</locationX>
        <locationY>8999</locationY>
        <defaultConnector>
            <targetReference>decision_if_unit_is_deactivated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Freight_approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Freight_Approved_By__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Freight_Approved_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Freight_approval_date</targetReference>
            </connector>
            <label>Freight approval</label>
        </rules>
    </decisions>
    <decisions>
        <description>decision_for_partner_address_changed_to_Kimberly</description>
        <name>decision_for_partner_address_changed_to_Kimberly</name>
        <label>decision for partner address changed to Kimberly</label>
        <locationX>182</locationX>
        <locationY>8663</locationY>
        <defaultConnector>
            <targetReference>decision_for_Freight_approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>address_changed_to_Kimberly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.On_Zadoon_partner_yard__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loveland, CO (ETI)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.On_Zadoon_partner_yard__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Storage_Address_to_Kimberly</targetReference>
            </connector>
            <label>address changed to Kimberly</label>
        </rules>
    </decisions>
    <decisions>
        <description>decision_if_120_days_since_checked</description>
        <name>decision_if_120_days_since_checked</name>
        <label>decision if 120 days since checked</label>
        <locationX>182</locationX>
        <locationY>5639</locationY>
        <defaultConnector>
            <targetReference>decision_if_Craigslist_Refresh</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X120_days_since_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Zadoon, LLC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_Confirmation_Age__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>120.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_to_Confirm_availability</targetReference>
            </connector>
            <label>120 days since checked</label>
        </rules>
    </decisions>
    <decisions>
        <description>decision_if_Craigslist_Refresh</description>
        <name>decision_if_Craigslist_Refresh</name>
        <label>decision if Craigslist Refresh</label>
        <locationX>182</locationX>
        <locationY>5975</locationY>
        <defaultConnector>
            <targetReference>decision_if_Owned_Unit_Price_Drop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Craigslist_Refresh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CL_Post_Age__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Craigslist_Live_Listing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_to_Renew_CL_Listing</targetReference>
            </connector>
            <label>Craigslist Refresh</label>
        </rules>
    </decisions>
    <decisions>
        <description>decision_if_Owned_Unit_Price_Drop</description>
        <name>decision_if_Owned_Unit_Price_Drop</name>
        <label>decision if Owned Unit Price Drop</label>
        <locationX>182</locationX>
        <locationY>6311</locationY>
        <defaultConnector>
            <targetReference>decision_if_partner_address_changed_to_MD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OwnedUnitPriceDrop</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_Purchase_Age__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_Purchase_Age__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_Purchase_Age__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_Purchase_Age__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>90.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_Purchase_Age__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>120.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_Purchase_Age__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>150.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unit_Purchase_Age__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>180.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_for_Owned_Unit_Price_Drop</targetReference>
            </connector>
            <label>Owned Unit Price Drop</label>
        </rules>
    </decisions>
    <decisions>
        <description>decision_if_partner_address_changed_to_Bryant</description>
        <name>decision_if_partner_address_changed_to_Bryant</name>
        <label>decision if partner address changed to Bryant</label>
        <locationX>182</locationX>
        <locationY>7655</locationY>
        <defaultConnector>
            <targetReference>decision_if_partner_address_changed_to_Cypress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>address_changed_to_Bryant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.On_Zadoon_partner_yard__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bryant, TX (Houston Heavy)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.On_Zadoon_partner_yard__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Storage_Address_to_Bryant_Address</targetReference>
            </connector>
            <label>address changed to Bryant</label>
        </rules>
    </decisions>
    <decisions>
        <description>decision_if_partner_address_changed_to_Cypress</description>
        <name>decision_if_partner_address_changed_to_Cypress</name>
        <label>decision if partner address changed to Cypress</label>
        <locationX>182</locationX>
        <locationY>7991</locationY>
        <defaultConnector>
            <targetReference>partner_address_changed_to_Loveland</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>address_changed_to_Cypress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.On_Zadoon_partner_yard__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cypress, TX (Houston Heavy)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.On_Zadoon_partner_yard__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Storage_Address_to_Cypress</targetReference>
            </connector>
            <label>address changed to Cypress</label>
        </rules>
    </decisions>
    <decisions>
        <description>decision_if_partner_address_changed_to_MD</description>
        <name>decision_if_partner_address_changed_to_MD</name>
        <label>decision if partner address changed to MD</label>
        <locationX>182</locationX>
        <locationY>6647</locationY>
        <defaultConnector>
            <targetReference>decision_if_partner_address_changed_to_Ocala</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Owned_Unit_Price_Drop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.On_Zadoon_partner_yard__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crofton, MD (Z Yard)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.On_Zadoon_partner_yard__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Storage_Address_to_MD</targetReference>
            </connector>
            <label>Copy 1 of Owned Unit Price Drop</label>
        </rules>
    </decisions>
    <decisions>
        <description>decision_if_partner_address_changed_to_Ocala</description>
        <name>decision_if_partner_address_changed_to_Ocala</name>
        <label>decision if partner address changed to Ocala</label>
        <locationX>182</locationX>
        <locationY>6983</locationY>
        <defaultConnector>
            <targetReference>decision_if_partner_address_changed_to_Sulphur_Springs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>address_changed_to_Ocala</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.On_Zadoon_partner_yard__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ocala, FL (Boring &amp; Assoc)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.On_Zadoon_partner_yard__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Storage_Address_to_Ocala</targetReference>
            </connector>
            <label>address changed to Ocala</label>
        </rules>
    </decisions>
    <decisions>
        <description>decision_if_partner_address_changed_to_Sulphur_Springs</description>
        <name>decision_if_partner_address_changed_to_Sulphur_Springs</name>
        <label>decision if partner address changed to Sulphur Springs</label>
        <locationX>182</locationX>
        <locationY>7319</locationY>
        <defaultConnector>
            <targetReference>decision_if_partner_address_changed_to_Bryant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>address_changed_to_Sulphur_Springs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.On_Zadoon_partner_yard__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sulphur Springs, TX (FCI)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.On_Zadoon_partner_yard__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Storage_Address_to_Sulphur_Springs</targetReference>
            </connector>
            <label>address changed to Sulphur Springs</label>
        </rules>
    </decisions>
    <decisions>
        <description>decision_if_Unit_Goes_To_Owned</description>
        <name>decision_if_Unit_Goes_To_Owned</name>
        <label>decision if Unit Goes To Owned</label>
        <locationX>182</locationX>
        <locationY>3983</locationY>
        <defaultConnector>
            <targetReference>decision_if_120_days_since_checked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unit_Goes_To_Owned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Inventory_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Owned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Inventory_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_to_update_Set_Sell_Pricing</targetReference>
            </connector>
            <label>Unit Goes To Owned</label>
        </rules>
    </decisions>
    <decisions>
        <description>decision_if_unit_is_deactivated</description>
        <name>decision_if_unit_is_deactivated</name>
        <label>decision if unit is deactivated</label>
        <locationX>182</locationX>
        <locationY>9335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>unit_is_deactivated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sold_deactivated_date_update</targetReference>
            </connector>
            <label>unit is deactivated</label>
        </rules>
    </decisions>
    <decisions>
        <description>decision_to_check_if_year_is_changed</description>
        <name>decision_to_check_if_year_is_changed</name>
        <label>decision to check if year is changed</label>
        <locationX>182</locationX>
        <locationY>3647</locationY>
        <defaultConnector>
            <targetReference>decision_if_Unit_Goes_To_Owned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>year_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Year__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Year__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Do_not_market_unit_anywhere__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MT_Live_Listing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Craigslist_Live_Listing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Iron_Connect_Listing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Inventory_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Owned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_to_update_year_on_MT_CL_IC</targetReference>
            </connector>
            <label>year is changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>decisionForLocationChange</description>
        <name>decisionForLocationChange</name>
        <label>decisionForLocationChange</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Unit_Details_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LocationChanged</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND (5 OR 6 OR 7 OR 8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Do_not_market_unit_anywhere__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Storage_City__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Storage_State__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MT_Live_Listing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Inventory_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Owned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketed_on_MT_incl_Crane_Trk__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Craigslist_Live_Listing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Iron_Connect_Listing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createTaskForLocation</targetReference>
            </connector>
            <label>LocationChanged</label>
        </rules>
    </decisions>
    <decisions>
        <description>Number_of_Photos_Change</description>
        <name>Number_of_Photos_Change</name>
        <label>Decision if Number of Photos is Changed</label>
        <locationX>182</locationX>
        <locationY>2279</locationY>
        <defaultConnector>
            <targetReference>Advertised_Retail_Price_is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>number_of_photos_is_changed</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6 OR 7 OR 8 OR 9)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Images_in_Google_Drive__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Images_in_Google_Drive__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Do_not_market_unit_anywhere__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Inventory_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Owned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketed_on_MT_incl_Crane_Trk__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Craigslist_Live_Listing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Client_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>End User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MT_Live_Listing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_of_Photos_on_GD_Chnaged</targetReference>
            </connector>
            <label>number of photos is changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>partner_address_changed_to_Loveland</description>
        <name>partner_address_changed_to_Loveland</name>
        <label>partner address changed to Loveland</label>
        <locationX>182</locationX>
        <locationY>8327</locationY>
        <defaultConnector>
            <targetReference>decision_for_partner_address_changed_to_Kimberly</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>address_changed_to_Loveland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.On_Zadoon_partner_yard__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loveland, CO (ETI)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.On_Zadoon_partner_yard__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Storage_Address_to_Loveland</targetReference>
            </connector>
            <label>address changed to Loveland</label>
        </rules>
    </decisions>
    <decisions>
        <description>Send Matching Email if Price Changed</description>
        <name>SendMatchingEmailifPriceChanged</name>
        <label>Send Matching Email if Price Changed</label>
        <locationX>182</locationX>
        <locationY>3311</locationY>
        <defaultConnector>
            <targetReference>decision_to_check_if_year_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>price_changed_send_matching_mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Starting_Advertised_Retail_Price__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Starting_Advertised_Retail_Price__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Images_in_Google_Drive__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_to_send_matching_mail_via_Walkers_Acc</targetReference>
            </connector>
            <label>price changed send matching mail</label>
        </rules>
    </decisions>
    <decisions>
        <description>Unit_Details_Change</description>
        <name>Unit_Details_Change</name>
        <label>Unit Details Change</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Unit_is_Inactive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>unit_details_are_changed</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Old_SF_Unit_Details__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Do_not_market_unit_anywhere__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MT_Live_Listing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Inventory_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Owned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketed_on_MT_incl_Crane_Trk__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Craigslist_Live_Listing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Iron_Connect_Listing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Unit_Details</targetReference>
            </connector>
            <label>unit details are changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>Unit_is_Inactive</description>
        <name>Unit_is_Inactive</name>
        <label>Unit is Inactive</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Unlist_Unit_Checkbox_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unit_is_not_active</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6 OR 7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Do_not_market_unit_anywhere__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MT_Live_Listing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Inventory_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Owned</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marketed_on_MT_incl_Crane_Trk__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Craigslist_Live_Listing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Iron_Connect_Listing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unlist_nonactive_Unit</targetReference>
            </connector>
            <label>Unit is not active</label>
        </rules>
    </decisions>
    <decisions>
        <description>Unlist_Unit_Checkbox_True</description>
        <name>Unlist_Unit_Checkbox_True</name>
        <label>Unlist Unit Checkbox True</label>
        <locationX>182</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Number_of_Photos_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Unlist_Unit_checkbox_is_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unlist_Unit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Unlist_Unit__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_for_Unlisting_unit_from_all_advertising</targetReference>
            </connector>
            <label>Unlist Unit checkbox is checked</label>
        </rules>
    </decisions>
    <description>Unit_multipleTaskCreationAndRecordUpdate</description>
    <environments>Default</environments>
    <formulas>
        <description>After3Days</description>
        <name>After3Days</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 3</expression>
    </formulas>
    <formulas>
        <description>After7Days</description>
        <name>After7Days</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <formulas>
        <description>Today_Date</description>
        <name>Today_Date</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <description>UnitPurchasedDropPrice</description>
        <name>UnitPurchasedDropPrice</name>
        <dataType>String</dataType>
        <expression>&apos;Unit was purchased&apos; + TEXT({!$Record.CL_Post_Age__c}) + &apos;days ago. Drop price accordingly. If 180 days old, consider auction.&apos;</expression>
    </formulas>
    <interviewLabel>Unit - multipleTaskCreationAndRecordUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unit - multipleTaskCreationAndRecordUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>createTaskForLocation</description>
        <name>createTaskForLocation</name>
        <label>createTaskForLocation</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>FB_and_CL_Location_update</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getShellyMurphyUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Run Vague Location task, then update storage location on MT, CL, and IC. Task BN to update FB location for owned units.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Sales Administration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>FB_and_CL_Location_update</description>
        <name>FB_and_CL_Location_update</name>
        <label>FB and CL Location update</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Task_for_Add_Update_IC_listing</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getShellyMurphyUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>[Sandip] Location on this unit was updated; make required changes to CL and update CL Post Date field</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Sales Administration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>No_of_Photos_on_GD_Chnaged</description>
        <name>No_of_Photos_on_GD_Chnaged</name>
        <label>No of Photos on GD Chnaged</label>
        <locationX>50</locationX>
        <locationY>2399</locationY>
        <connector>
            <targetReference>Advertised_Retail_Price_is_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getShellyMurphyUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Number of photos on GD changed. Plz organize pics/remove unnecessary pics, update pics on MT, IC, and CL. Task WH to update FB photos if owned.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Price_Drop_MC_Email</description>
        <name>Price_Drop_MC_Email</name>
        <label>Price Drop MC Email</label>
        <locationX>50</locationX>
        <locationY>2735</locationY>
        <connector>
            <targetReference>Update_MT_price_to_show_advert_retail_price</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getShellyMurphyUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>[Sandip] Create a price-drop MailChimp email. </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Relist_Unit</description>
        <name>Relist_Unit</name>
        <label>Relist Unit</label>
        <locationX>50</locationX>
        <locationY>2063</locationY>
        <connector>
            <targetReference>Number_of_Photos_Change</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>After7Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getShellyMurphyUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Check with unit owner whether it is ready to be relisted.  If it is, relist it and UNCHECK the Unlist checkbox.  IF it is not, ask when to relist and reassign this task for that date.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task_for_Add_Update_IC_listing</description>
        <name>Task_for_Add_Update_IC_listing</name>
        <label>Task for Add/Update IC listing</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Unit_Details_Change</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getShellyMurphyUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>If this unit has an Iron Connect listing, please update location.  If it does not have an IC listing, please post in Team Z Group Chat and @post CM/HB/MJ to identify whether it should be posted on IC.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Sales Administration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task_for_Owned_Unit_Price_Drop</description>
        <name>Task_for_Owned_Unit_Price_Drop</name>
        <label>Task for Owned Unit Price Drop</label>
        <locationX>50</locationX>
        <locationY>6431</locationY>
        <connector>
            <targetReference>decision_if_partner_address_changed_to_MD</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getHardyBoraUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>UnitPurchasedDropPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task_for_Unlisting_unit_from_all_advertising</description>
        <name>Task_for_Unlisting_unit_from_all_advertising</name>
        <label>Task for Unlisting unit from all advertising</label>
        <locationX>50</locationX>
        <locationY>1943</locationY>
        <connector>
            <targetReference>Relist_Unit</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getShellyMurphyUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Unlist unit from MT, CL, and all other iron sites. Task Collin to &quot;remove from FB if appropriate&quot; from the unit page.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task_to_Confirm_availability</description>
        <name>Task_to_Confirm_availability</name>
        <label>Task to Confirm availability</label>
        <locationX>50</locationX>
        <locationY>5759</locationY>
        <connector>
            <targetReference>decision_if_Craigslist_Refresh</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>After7Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Unit_Owner__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Confirm unit availability; see if anything else available for sale; deactivate unit if not available.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task_to_Renew_CL_Listing</description>
        <name>Task_to_Renew_CL_Listing</name>
        <label>Task to Renew CL Listing</label>
        <locationX>50</locationX>
        <locationY>6095</locationY>
        <connector>
            <targetReference>decision_if_Owned_Unit_Price_Drop</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getShellyMurphyUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>CL listing for this unit was added 30 days ago, please renew listing.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task_to_send_matching_mail_via_Walkers_Acc</description>
        <name>Task_to_send_matching_mail_via_Walkers_Acc</name>
        <label>Task to send matching mail via Walkers Acc</label>
        <locationX>50</locationX>
        <locationY>3431</locationY>
        <connector>
            <targetReference>decision_to_check_if_year_is_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getShellyMurphyUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Log into Walker&apos;s SF account and send matching on this unit from there.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task_to_update_Complete_Unit_Details</description>
        <name>Task_to_update_Complete_Unit_Details</name>
        <label>Task to update Complete Unit Details</label>
        <locationX>50</locationX>
        <locationY>5063</locationY>
        <connector>
            <targetReference>Task_to_update_Serial_number_shared_available</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getHardyBoraUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Complete Unit Details - use &quot;Required information for owned units&quot; doc as reference.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task_to_update_List_on_Iron_Connect</description>
        <name>Task_to_update_List_on_Iron_Connect</name>
        <label>Task to update List on Iron Connect</label>
        <locationX>50</locationX>
        <locationY>5423</locationY>
        <connector>
            <targetReference>decision_if_120_days_since_checked</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>After7Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getShellyMurphyUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Task_to_update_List_on_Iron_Connect</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task_to_update_Market_on_MT_and_Iron_Sites</description>
        <name>Task_to_update_Market_on_MT_and_Iron_Sites</name>
        <label>Task to update Market on MT and Iron Sites</label>
        <locationX>50</locationX>
        <locationY>4223</locationY>
        <connector>
            <targetReference>Task_to_update_Send_first_Mailchimp</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>After7Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getShellyMurphyUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Ensure unit marketed on MT and spot-check other IronSites to ensure it&apos;s listed accurately</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task_to_update_MC_ID_End_Users</description>
        <name>Task_to_update_MC_ID_End_Users</name>
        <label>Task to update MC/ID - End Users</label>
        <locationX>50</locationX>
        <locationY>4583</locationY>
        <connector>
            <targetReference>Task_to_update_Post_on_CL</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>After3Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getShellyMurphyUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>[Reassign to BN with MC list attached] End User Mailchimp / ID calls- (MC: 2+ opens, top 5, ID: most recent 5) </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Sales Administration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task_to_update_Obtain_review_organize_photos_videos</description>
        <name>Task_to_update_Obtain_review_organize_photos_videos</name>
        <label>Task to update Obtain, review, organize photos/videos</label>
        <locationX>50</locationX>
        <locationY>4943</locationY>
        <connector>
            <targetReference>Task_to_update_Complete_Unit_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getShellyMurphyUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Ensure full set of good photos is provided via inspection or via site contact.  Remove not good/auction looking photos to Confidential Information folder.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task_to_update_Post_on_CL</description>
        <name>Task_to_update_Post_on_CL</name>
        <label>Task to update Post on CL</label>
        <locationX>50</locationX>
        <locationY>4703</locationY>
        <connector>
            <targetReference>Task_to_update_SF_Dealer_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getShellyMurphyUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Market on Craigslist in the  city/region where unit is located; create follow-up task for 30-days out to repost.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task_to_update_Send_first_Mailchimp</description>
        <name>Task_to_update_Send_first_Mailchimp</name>
        <label>Task to update Send first Mailchimp</label>
        <locationX>50</locationX>
        <locationY>4343</locationY>
        <connector>
            <targetReference>updatePurchaseDateofThisUnit</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getShellyMurphyUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Send UNADVERTISED Mailchimp to end users and equipment sellers; EXCLUDE account purchased from</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task_to_update_Serial_number_shared_available</description>
        <name>Task_to_update_Serial_number_shared_available</name>
        <label>Task to update Serial number shared/available</label>
        <locationX>50</locationX>
        <locationY>5183</locationY>
        <connector>
            <targetReference>Task_to_update_Shipping_dimensions</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getShellyMurphyUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Put Serial Number Photos  in Online Photos folder, and on MT.  Put full serial from the serial plate in Serial Number field on Unit Page.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Sales Administration</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task_to_update_Set_Sell_Pricing</description>
        <name>Task_to_update_Set_Sell_Pricing</name>
        <label>Task to update Set Sell Pricing</label>
        <locationX>50</locationX>
        <locationY>4103</locationY>
        <connector>
            <targetReference>Task_to_update_Market_on_MT_and_Iron_Sites</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getHardyBoraUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Set sell pricing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task_to_update_SF_Dealer_Email</description>
        <name>Task_to_update_SF_Dealer_Email</name>
        <label>Task to update SF Dealer Email</label>
        <locationX>50</locationX>
        <locationY>4823</locationY>
        <connector>
            <targetReference>Task_to_update_Obtain_review_organize_photos_videos</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>After7Days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getHardyBoraUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Send to dealers via SF email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task_to_update_Shipping_dimensions</description>
        <name>Task_to_update_Shipping_dimensions</name>
        <label>Task to update Shipping dimensions</label>
        <locationX>50</locationX>
        <locationY>5303</locationY>
        <connector>
            <targetReference>Task_to_update_List_on_Iron_Connect</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getShellyMurphyUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Obtain shipping dimensions from either inspection report or specalog.  Put in Shipping Dims field in the Freight and Transport section of Unit Page.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Procurement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task_to_update_year_on_MT_CL_IC</description>
        <name>Task_to_update_year_on_MT_CL_IC</name>
        <label>Task to update year on MT, CL, IC</label>
        <locationX>50</locationX>
        <locationY>3767</locationY>
        <connector>
            <targetReference>decision_if_Unit_Goes_To_Owned</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getShellyMurphyUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>The year on this unit has changed; update MT, CL, and IC (ONLY IF UNIT IS LISTED IN THOSE PLACES)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Operations</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Unlist_nonactive_Unit</description>
        <name>Unlist_nonactive_Unit</name>
        <label>Unlist nonactive Unit</label>
        <locationX>50</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>Unlist_Unit_Checkbox_True</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getShellyMurphyUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Unit has been deactivated, unlist from MT, CL, and IC. Task BN to unlist from FB if owned.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Update_Craigslist_price_to_show_advert_retail_price</description>
        <name>Update_Craigslist_price_to_show_advert_retail_price</name>
        <label>Update Craigslist price to show advert retail price</label>
        <locationX>50</locationX>
        <locationY>2975</locationY>
        <connector>
            <targetReference>Update_Iron_Connect_Price_to_show_advert_retail_price</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getShellyMurphyUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>[IF CL LISTING IS ACTIVE] Update Craigslist Pricing to reflect Starting Advertised Retail Price; change CL Post date to today</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Update_Iron_Connect_Price_to_show_advert_retail_price</description>
        <name>Update_Iron_Connect_Price_to_show_advert_retail_price</name>
        <label>Update Iron Connect Price to show advert retail price</label>
        <locationX>50</locationX>
        <locationY>3095</locationY>
        <connector>
            <targetReference>SendMatchingEmailifPriceChanged</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getShellyMurphyUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>[IF IC LISTING IS ACTIVE] Update Iron Connect pricing to reflect the Starting Advertised Retail Price</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Update_MT_price_to_show_advert_retail_price</description>
        <name>Update_MT_price_to_show_advert_retail_price</name>
        <label>Update MT price to show advert retail price</label>
        <locationX>50</locationX>
        <locationY>2855</locationY>
        <connector>
            <targetReference>Update_Craigslist_price_to_show_advert_retail_price</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getShellyMurphyUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>[IF MT LISTING IS ACTIVE] Update Pricing on MT to reflect Starting Advertised Retail Price</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>update_Unit_Details</description>
        <name>update_Unit_Details</name>
        <label>update Unit Details</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Unit_is_Inactive</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getShellyMurphyUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Update unit details on MT, IC, and CL; task BN to update unit details on FB if owned unit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Type__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>getHardyBoraUser</description>
        <name>getHardyBoraUser</name>
        <label>getHardyBoraUser</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decisionForLocationChange</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.user_Hardy_Bora_For_Unit_Task_Flow</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>getShellyMurphyUser</description>
        <name>getShellyMurphyUser</name>
        <label>getShellyMurphyUser</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getHardyBoraUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.user_Shelly_Murphy_For_Unit_Task_Flow</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>sold_deactivated_date_update</description>
        <name>sold_deactivated_date_update</name>
        <label>sold/deactivated date update</label>
        <locationX>50</locationX>
        <locationY>9455</locationY>
        <inputAssignments>
            <field>Sold_Deactivated_Date__c</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>update_Freight_approval_date</description>
        <name>update_Freight_approval_date</name>
        <label>update Freight approval date</label>
        <locationX>50</locationX>
        <locationY>9119</locationY>
        <connector>
            <targetReference>decision_if_unit_is_deactivated</targetReference>
        </connector>
        <inputAssignments>
            <field>Freight_Approved_Date__c</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>update_Storage_Address_to_Bryant_Address</description>
        <name>update_Storage_Address_to_Bryant_Address</name>
        <label>update Storage Address to Bryant Address</label>
        <locationX>50</locationX>
        <locationY>7775</locationY>
        <connector>
            <targetReference>decision_if_partner_address_changed_to_Cypress</targetReference>
        </connector>
        <inputAssignments>
            <field>Storage_Address__c</field>
            <value>
                <stringValue>1515 Shiloh Ave</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_City__c</field>
            <value>
                <stringValue>Bryan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Country__c</field>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_State__c</field>
            <value>
                <stringValue>Texas</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Zip_Code__c</field>
            <value>
                <stringValue>77801</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>update_Storage_Address_to_Cypress</description>
        <name>update_Storage_Address_to_Cypress</name>
        <label>update Storage Address to Cypress</label>
        <locationX>50</locationX>
        <locationY>8111</locationY>
        <connector>
            <targetReference>partner_address_changed_to_Loveland</targetReference>
        </connector>
        <inputAssignments>
            <field>Storage_Address__c</field>
            <value>
                <stringValue>14430 Grant Rd</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_City__c</field>
            <value>
                <stringValue>Cypress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Country__c</field>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_State__c</field>
            <value>
                <stringValue>Texas</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Zip_Code__c</field>
            <value>
                <stringValue>77428</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>update_Storage_Address_to_Kimberly</description>
        <name>update_Storage_Address_to_Kimberly</name>
        <label>update Storage Address to Kimberly</label>
        <locationX>50</locationX>
        <locationY>8783</locationY>
        <connector>
            <targetReference>decision_for_Freight_approval</targetReference>
        </connector>
        <inputAssignments>
            <field>Storage_Address__c</field>
            <value>
                <stringValue>1760 Kimberly Road</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_City__c</field>
            <value>
                <stringValue>Twin Falls</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Country__c</field>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_State__c</field>
            <value>
                <stringValue>Idaho</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Zip_Code__c</field>
            <value>
                <stringValue>83301</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>update_Storage_Address_to_Loveland</description>
        <name>update_Storage_Address_to_Loveland</name>
        <label>update Storage Address to Loveland</label>
        <locationX>50</locationX>
        <locationY>8447</locationY>
        <connector>
            <targetReference>decision_for_partner_address_changed_to_Kimberly</targetReference>
        </connector>
        <inputAssignments>
            <field>Storage_Address__c</field>
            <value>
                <stringValue>3818 County Road 5</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_City__c</field>
            <value>
                <stringValue>Loveland</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Country__c</field>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_State__c</field>
            <value>
                <stringValue>Colorado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Zip_Code__c</field>
            <value>
                <stringValue>80539</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>update_Storage_Address_to_MD</description>
        <name>update_Storage_Address_to_MD</name>
        <label>update Storage Address to MD</label>
        <locationX>50</locationX>
        <locationY>6767</locationY>
        <connector>
            <targetReference>decision_if_partner_address_changed_to_Ocala</targetReference>
        </connector>
        <inputAssignments>
            <field>Storage_Address__c</field>
            <value>
                <stringValue>1268 Cronson Blvd Building E</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_City__c</field>
            <value>
                <stringValue>Crofton</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Country__c</field>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_State__c</field>
            <value>
                <stringValue>Maryland</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Zip_Code__c</field>
            <value>
                <stringValue>21114</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>update_Storage_Address_to_Ocala</description>
        <name>update_Storage_Address_to_Ocala</name>
        <label>update Storage Address to Ocala</label>
        <locationX>50</locationX>
        <locationY>7103</locationY>
        <connector>
            <targetReference>decision_if_partner_address_changed_to_Sulphur_Springs</targetReference>
        </connector>
        <inputAssignments>
            <field>Storage_Address__c</field>
            <value>
                <stringValue>5630 N Highway 441</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_City__c</field>
            <value>
                <stringValue>Ocala</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Country__c</field>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_State__c</field>
            <value>
                <stringValue>Florida</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Zip_Code__c</field>
            <value>
                <stringValue>34475</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>update_Storage_Address_to_Sulphur_Springs</description>
        <name>update_Storage_Address_to_Sulphur_Springs</name>
        <label>update Storage Address to Sulphur Springs</label>
        <locationX>50</locationX>
        <locationY>7439</locationY>
        <connector>
            <targetReference>decision_if_partner_address_changed_to_Bryant</targetReference>
        </connector>
        <inputAssignments>
            <field>Storage_Address__c</field>
            <value>
                <stringValue>1123 E Industrial</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_City__c</field>
            <value>
                <stringValue>Sulphur Springs</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Country__c</field>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_State__c</field>
            <value>
                <stringValue>Texas</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Zip_Code__c</field>
            <value>
                <stringValue>75482</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>updatePurchaseDateofThisUnit</description>
        <name>updatePurchaseDateofThisUnit</name>
        <label>updatePurchaseDateofThisUnit</label>
        <locationX>50</locationX>
        <locationY>4463</locationY>
        <connector>
            <targetReference>Task_to_update_MC_ID_End_Users</targetReference>
        </connector>
        <inputAssignments>
            <field>Purchase_Date__c</field>
            <value>
                <elementReference>Today_Date</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getShellyMurphyUser</targetReference>
        </connector>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
